Microsoft.Flow/flows/61ea6008-1785-4988-ab16-ec3e29bf9aa3/definition.json
{"name":"727cc380-57c4-4e5b-a35f-bd97c7d4a145","id":"/providers/Microsoft.Flow/flows/727cc380-57c4-4e5b-a35f-bd97c7d4a145","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"DS Sync Main CDS Flow (Live Operations)","definition":{"metadata":{"workflowEntityId":null,"creator":{"id":"1f0b044c-2b68-4cf7-ac37-9ade5d355641","type":"User","tenantId":"d8983789-6b5f-4acf-beea-f09e4a517aa2"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2019-06-10T11:26:45.0796401Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnNewItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_flowtriggers'))}/onnewitemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Related_Opportunity":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('opportunities'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['_new_opportunity_value']))}","authentication":"@parameters('$authentication')"}},"Init_Bank_Account_Array":{"runAfter":{"Init_FM_Contact_Email":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"BankAccountArray","type":"Array"}]}},"Init_Product_Array":{"runAfter":{"Init_Bank_Account_Array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ProductArray","type":"Array"}]}},"Init_Contact_People_Array":{"runAfter":{"Init_Product_Array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"ContactPeopleArray","type":"Array"}]}},"Init_FM_Suffix":{"runAfter":{"Init_CRM_ID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FMSuffix","type":"String"}]}},"Init_FM_Code":{"runAfter":{"Init_FM_ID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FMCode","type":"String"}]}},"Init_FM_Name":{"runAfter":{"Init_FM_Code":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FMName","type":"String"}]}},"Init_FM_Email":{"runAfter":{"Init_FM_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FMEmail","type":"String"}]}},"Init_FM_Designation":{"runAfter":{"Init_FM_Email":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FMDesignation","type":"String"}]}},"Init_FM_Phone":{"runAfter":{"Init_FM_Designation":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FMPhone","type":"String"}]}},"Init_FM_Fax":{"runAfter":{"Init_FM_Phone":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FMFax","type":"String"}]}},"Init_FM_Address":{"runAfter":{"Init_FM_Fax":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FMAddress","type":"String"}]}},"Init_FM_Contact_Name":{"runAfter":{"Init_FM_Address":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FMContactName","type":"String"}]}},"Init_FM_Contact_Phone":{"runAfter":{"Init_FM_Contact_Name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FMContactPhone","type":"String"}]}},"Init_FM_Contact_Email":{"runAfter":{"Init_FM_Contact_Phone":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FMContactEmail","type":"String"}]}},"Init_FM_ID":{"runAfter":{"Init_FM_Suffix":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"FMId","type":"String"}]}},"If_FM_Included":{"actions":{"Get_Fund_Manager":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('dcecal_fundmanagers'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_dcecal_fundmanager_value']))}","authentication":"@parameters('$authentication')"}},"Append_to_FM_Suffix":{"runAfter":{"Get_Fund_Manager":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"FMSuffix","value":"-@{body('Get_Fund_Manager')['dcecal_code']}"}},"Append_to_FM_ID":{"runAfter":{"Append_to_FM_Suffix":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"FMId","value":"@body('Get_Fund_Manager')?['dcecal_fundmanagerid']"}},"Append_to_FM_Code":{"runAfter":{"Append_to_FM_ID":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"FMCode","value":"@body('Get_Fund_Manager')['dcecal_code']"}},"Append_to_FM_Name":{"runAfter":{"Append_to_FM_Code":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"FMName","value":"@body('Get_Fund_Manager')['dcecal_name']"}},"Append_to_FM_Designation":{"runAfter":{"Append_to_FM_Name":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"FMDesignation","value":"@body('Get_Fund_Manager')?['dcecal_designation']"}},"Append_to_FM_Phone":{"runAfter":{"Append_to_FM_Designation":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"FMPhone","value":"@body('Get_Fund_Manager')?['dcecal_accou']"}},"Append_to_FM_Fax":{"runAfter":{"Append_to_FM_Email":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"FMFax","value":"@body('Get_Fund_Manager')?['dcecal_fax']"}},"Append_to_FM_Address":{"runAfter":{"Append_to_FM_Fax":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"FMAddress","value":"@body('Get_Fund_Manager')?['new_address1']"}},"Append_to_FM_Contact_Name":{"runAfter":{"Append_to_FM_Address":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"FMContactName","value":"@body('Get_Fund_Manager')?['new_contactname']"}},"Append_to_FM_Contact_Phone":{"runAfter":{"Append_to_FM_Contact_Name":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"FMContactPhone","value":"@body('Get_Fund_Manager')['new_contactphone']"}},"Append_to_FM_Contact_Email":{"runAfter":{"Append_to_FM_Contact_Phone":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"FMContactEmail","value":"@body('Get_Fund_Manager')?['new_contactemail']"}},"Append_to_FM_Email":{"runAfter":{"Append_to_FM_Phone":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"FMEmail","value":"@body('Get_Fund_Manager')?['dcecal_mainemail']"}}},"runAfter":{"Init_Birthday":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')['dcecal_pwmbased']",true]},"type":"If"},"Select_DS_Product_Base":{"actions":{"IGF":{"actions":{"Compose_IGF":{"runAfter":{},"type":"Compose","inputs":{"product_code":"IGF","product_description":"CALI-Investment Grade Fund"}},"Append_IGF":{"runAfter":{"Compose_IGF":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_IGF')"}}},"runAfter":{"CTF":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prdoigf']",true]},"type":"If"},"CAHYF":{"actions":{"Compose_CAHYF":{"runAfter":{},"type":"Compose","inputs":{"product_code":"CAHYF","product_description":"CALI-High Yield Fund"}},"Append_CAHYF":{"runAfter":{"Compose_CAHYF":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_CAHYF')"}}},"runAfter":{"IGF":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodcahyf']",true]},"type":"If"},"QEF":{"actions":{"Compose_QEF":{"runAfter":{},"type":"Compose","inputs":{"product_code":"QEF","product_description":"CALI-Quantitative Equity Fund"}},"Append_QEF":{"runAfter":{"Compose_QEF":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_QEF')"}}},"runAfter":{"CAHYF":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodqef']",true]},"type":"If"},"BF":{"actions":{"Compose_BF":{"runAfter":{},"type":"Compose","inputs":{"product_code":"BF","product_description":"CALI-Balanced Fund"}},"Append_BF":{"runAfter":{"Compose_BF":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_BF')"}}},"runAfter":{"QEF":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodbf']",true]},"type":"If"},"IF":{"actions":{"Compose_IF":{"runAfter":{},"type":"Compose","inputs":{"product_code":"IF","product_description":"CALI-Income Fund"}},"Append_IF":{"runAfter":{"Compose_IF":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_IF')"}}},"runAfter":{"BF":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodif']",true]},"type":"If"},"MRDF":{"actions":{"Compose_MRDF":{"runAfter":{},"type":"Compose","inputs":{"product_code":"MRDF","product_description":"CALI-Medium Risk Debt Fund"}},"Append_MRDF":{"runAfter":{"Compose_MRDF":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_MRDF')"}}},"runAfter":{"IF":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodmrdf']",true]},"type":"If"},"CDGTF":{"actions":{"Compose_CDGTF":{"runAfter":{},"type":"Compose","inputs":{"product_code":"CDGTF","product_description":"CALI-Corporate Debt & Gilt Trading Fund"}},"Append_CDGTF":{"runAfter":{"Compose_CDGTF":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_CDGTF')"}}},"runAfter":{"MRDF":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodcdgtf']",true]},"type":"If"},"GMMF":{"actions":{"Compose_GMMF":{"runAfter":{},"type":"Compose","inputs":{"product_code":"GMMF","product_description":"CALI-Gilt Money Market Fund"}},"Append_GMMF":{"runAfter":{"Compose_GMMF":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_GMMF')"}}},"runAfter":{"CDGTF":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodgmmf']",true]},"type":"If"},"GF":{"actions":{"Compose_GF":{"runAfter":{},"type":"Compose","inputs":{"product_code":"GF","product_description":"CALI-Gilt Fund"}},"Append_GF":{"runAfter":{"Compose_GF":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_GF')"}}},"runAfter":{"GMMF":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodgf']",true]},"type":"If"},"GTF":{"actions":{"Compose_GTF":{"runAfter":{},"type":"Compose","inputs":{"product_code":"GTF","product_description":"CALI-Gilt Trading Fund"}},"Append_GTF":{"runAfter":{"Compose_GTF":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_GTF')"}}},"runAfter":{"GF":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodgtf']",true]},"type":"If"},"CTF":{"actions":{"Compose_CTF":{"runAfter":{},"type":"Compose","inputs":{"product_code":"CTF","product_description":"CALI-Capital Alliance Corporate Treasury Fund"}},"Append_CTF":{"runAfter":{"Compose_CTF":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_CTF')"}}},"runAfter":{},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodctf']",true]},"type":"If"},"If_UTMS_Corporate":{"actions":{"Get_Corporate_Account":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_parentaccountid_value']))}","authentication":"@parameters('$authentication')"}},"List_Contact_People":{"runAfter":{"Check_the_Running_Number":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('dcecal_contactpeopleofcorporateaccountses'))}/items","queries":{"$filter":"dcecal_accountnumbercorporateaccount eq '@{body('Get_Corporate_Account')?['accountnumber']}' or\ndcecal_accountnumbercorporateaccount eq '@{body('Get_Corporate_Account')?['new_registrationnumberaccounts']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('List_Contact_People')?['value']","actions":{"Compose_Contact_People":{"runAfter":{},"type":"Compose","inputs":{"name":"@{items('Apply_to_each')?['dcecal_contactname']}","email":"@{items('Apply_to_each')?['dcecal_contactsemail']}","designation":"@{items('Apply_to_each')?['dcecal_contactsdesignation']}","phone":" @{items('Apply_to_each')?['new_contactsphone']}","fax":" @{items('Apply_to_each')?['new_contactsfax']}"}},"Append_Contact_People":{"runAfter":{"Compose_Contact_People":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ContactPeopleArray","value":"@outputs('Compose_Contact_People')"}}},"runAfter":{"List_Contact_People":["Succeeded"]},"type":"Foreach"},"List_Corp._Bank_Accounts":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_bankaccounts'))}/items","queries":{"$filter":"dcecal_holderguid eq '@{body('Get_Corporate_Account')?['new_registrationnumberaccounts']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@body('List_Corp._Bank_Accounts')?['value']","actions":{"Compose_Corp._Bank_Account":{"runAfter":{},"type":"Compose","inputs":{"name":"@{items('Apply_to_each_2')?['dcecal_banknametext']}","branch":"@{items('Apply_to_each_2')?['dcecal_branchnametext']}","accountType":"@{items('Apply_to_each_2')?['dcecal_accounttype']}","accountNo":"@{items('Apply_to_each_2')?['new_bankaccountnumber']}"}},"Append_Corp._Bank_Account":{"runAfter":{"Compose_Corp._Bank_Account":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"BankAccountArray","value":"@outputs('Compose_Corp._Bank_Account')"}}},"runAfter":{"List_Corp._Bank_Accounts":["Succeeded"]},"type":"Foreach"},"Check_the_Running_Number":{"actions":{"Append_to_UA_G_CRMID":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CRMID","value":"C-@{body('Get_Corporate_Account')?['accountid']}@{variables('FMSuffix')}"}}},"runAfter":{"Get_Corporate_Account":["Succeeded"]},"else":{"actions":{"Append_to_UA_R_CRMID":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CRMID","value":"@{body('Get_Corporate_Account')?['accountnumber']}@{variables('FMSuffix')}"}}}},"expression":{"equals":["@body('Get_Corporate_Account')?['accountnumber']","@null"]},"type":"If"},"Check_Debugging_UC":{"actions":{"Send_an_email_7":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"testjit@cal.lk;","Subject":"Debug Mode - UTMS @{variables('CRMID')}for @{body('Get_Related_Opportunity')?['name']}","Body":"{\n  \"customer\": {\n    \"metaData\": {\n      \"applications\": \"UTMS\",\n      \"accountType\": \"C\",\n      \"customerCode\": \"@{variables('CRMID')}\"\n    },\n    \"dataGeneral\": {\n      \"customerType\": \"ZCA_CUSTOMER\",\n      \"surname\": \"@{body('Get_Corporate_Account')?['name']}\",\n      \"residential\": \"LOCAL\",\n      \"primaryPhone\": \"@{body('Get_Corporate_Account')['telephone1']}\",\n      \"secondaryPhone\": \"\",\n      \"mobileNo\": \"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}\",\n      \"secondaryMobileNo\": \"\",\n      \"secondaryEmail\": \"@{body('Get_Corporate_Account')?['emailaddress2']}\",\n      \"primaryEmail\": \"@{body('Get_Corporate_Account')['emailaddress1']}\",\n      \"fax\": \"@{body('Get_Corporate_Account')?['fax']}\",\n      \"preferredContactMethod\": \"@{body('Get_Corporate_Account')['_new_1confirmationsandstatements_label']}\",\n      \"fundManager\": {\n        \"id\": \"@{variables('FMId')}\",\n        \"code\": \"@{variables('FMCode')}\",\n        \"name\": \"@{variables('FMName')}\",\n        \"email\": \"@{variables('FMEmail')}\",\n        \"designation\": \"@{variables('FMDesignation')}\",\n        \"phone\": \"@{variables('FMPhone')}\",\n        \"fax\": \"@{variables('FMFax')}\",\n        \"address\": \"@{variables('FMAddress')}\",\n        \"contact_name\": \"@{variables('FMContactName')}\",\n        \"contact_phone\": \"@{variables('FMContactPhone')}\",\n        \"contact_email\": \"@{variables('FMContactEmail')}\"\n      },\n      \"correspondenceAddress\": {\n        \"address1\": \"@{body('Get_Corporate_Account')['address2_line1']}\",\n        \"address2\": \"@{body('Get_Corporate_Account')['address2_line2']}\",\n        \"address3\": \"@{body('Get_Corporate_Account')?['address2_line3']}\",\n        \"province\": \"@{body('Get_Corporate_Account')?['address2_stateorprovince']}\",\n        \"city\": \"@{body('Get_Corporate_Account')?['address2_city']}\",\n        \"country\": \"@{body('Get_Corporate_Account')?['address2_country']}\",\n        \"postalCode\": \"@{body('Get_Corporate_Account')?['address2_postalcode']}\"\n      },\n      \"address\": {\n        \"address1\": \"@{body('Get_Corporate_Account')?['address1_line1']}\",\n        \"address2\": \"@{body('Get_Corporate_Account')?['address1_line2']}\",\n        \"address3\": \"@{body('Get_Corporate_Account')?['address1_line3']}\",\n        \"city\": \"@{body('Get_Corporate_Account')?['address1_city']}\",\n        \"country\": \"@{body('Get_Corporate_Account')?['address1_country']}\",\n        \"postalCode\": \"@{body('Get_Corporate_Account')?['address1_postalcode']}\"\n      },\n      \"bank\": @{variables('BankAccountArray')},\n      \"contact\": @{variables('ContactPeopleArray')},\n      \"UTMS_product_list\": @{variables('ProductArray')}\n    },\n    \"dataOrganizational\": {\n      \"registeredNo\": \"@{body('Get_Corporate_Account')?['new_registrationnumberaccounts']}\",\n      \"businessLine\": \"\"\n    },\n    \"dataIndividual\": {\n      \"title\": \"\",\n      \"initials\": \"\",\n      \"denotedByInitials\": \"\",\n      \"nic\": \"\",\n      \"ppNo\": \"\",\n      \"joinApplicants\": [\n        {\n          \"title\": \"\",\n          \"initials\": \"\",\n          \"surname\": \"\",\n          \"name\": \"\",\n          \"email\": \"\",\n          \"nic\": \"\",\n          \"ppNo\": \"\"\n        }\n      ]\n    }\n  }\n}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Check_Common_Bank_UC":["Succeeded"]},"else":{"actions":{"Update_UTMS_-_Corp._JSON_Request":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"http://13.229.244.242:8080/UnitTrust/rest/customers/update","body":{"customer":{"metaData":{"applications":"UTMS","accountType":"C","customerCode":"@{variables('CRMID')}"},"dataGeneral":{"customerType":"ZCA_CUSTOMER","surname":"@{body('Get_Corporate_Account')?['name']}","residential":"LOCAL","primaryPhone":"@{body('Get_Corporate_Account')['telephone1']}","secondaryPhone":"","mobileNo":"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}","secondaryMobileNo":"","secondaryEmail":"@{body('Get_Corporate_Account')?['emailaddress2']}","primaryEmail":"@{body('Get_Corporate_Account')['emailaddress1']}","fax":"@{body('Get_Corporate_Account')?['fax']}","preferredContactMethod":"@{body('Get_Corporate_Account')['_new_1confirmationsandstatements_label']}","fundManager":{"id":"@{variables('FMId')}","code":"@{variables('FMCode')}","name":"@{variables('FMName')}","email":"@{variables('FMEmail')}","designation":"@{variables('FMDesignation')}","phone":"@{variables('FMPhone')}","fax":"@{variables('FMFax')}","address":"@{variables('FMAddress')}","contact_name":"@{variables('FMContactName')}","contact_phone":"@{variables('FMContactPhone')}","contact_email":"@{variables('FMContactEmail')}"},"correspondenceAddress":{"address1":"@{body('Get_Corporate_Account')['address2_line1']}","address2":"@{body('Get_Corporate_Account')['address2_line2']}","address3":"@{body('Get_Corporate_Account')?['address2_line3']}","province":"@{body('Get_Corporate_Account')?['address2_stateorprovince']}","city":"@{body('Get_Corporate_Account')?['address2_city']}","country":"@{body('Get_Corporate_Account')?['address2_country']}","postalCode":"@{body('Get_Corporate_Account')?['address2_postalcode']}"},"address":{"address1":"@{body('Get_Corporate_Account')?['address1_line1']}","address2":"@{body('Get_Corporate_Account')?['address1_line2']}","address3":"@{body('Get_Corporate_Account')?['address1_line3']}","city":"@{body('Get_Corporate_Account')?['address1_city']}","country":"@{body('Get_Corporate_Account')?['address1_country']}","postalCode":"@{body('Get_Corporate_Account')?['address1_postalcode']}"},"bank":"@variables('BankAccountArray')","contact":"@variables('ContactPeopleArray')","UTMS_product_list":"@variables('ProductArray')"},"dataOrganizational":{"registeredNo":"@{body('Get_Corporate_Account')?['new_registrationnumberaccounts']}","businessLine":""},"dataIndividual":{"title":"","initials":"","denotedByInitials":"","nic":"","ppNo":"","joinApplicants":[{"title":"","initials":"","surname":"","name":"","email":"","nic":"","ppNo":""}]}}},"authentication":{"type":"Basic","username":"mitra","password":"m1tr4@c4l"}}},"Corp._Register_JSON_Request":{"runAfter":{"Update_UTMS_-_Corp._JSON_Request":["Failed"]},"type":"Http","inputs":{"method":"POST","uri":"http://13.229.244.242:8080/UnitTrust/rest/customers/register","body":{"customer":{"metaData":{"applications":"UTMS","accountType":"C","customerCode":"@{variables('CRMID')}"},"dataGeneral":{"customerType":"ZCA_CUSTOMER","surname":"@{body('Get_Corporate_Account')?['name']}","residential":"LOCAL","primaryPhone":"@{body('Get_Corporate_Account')['telephone1']}","secondaryPhone":"","mobileNo":"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}","secondaryMobileNo":"","secondaryEmail":"@{body('Get_Corporate_Account')?['emailaddress2']}","primaryEmail":"@{body('Get_Corporate_Account')['emailaddress1']}","fax":"@{body('Get_Corporate_Account')?['fax']}","preferredContactMethod":"@{body('Get_Corporate_Account')['_new_1confirmationsandstatements_label']}","fundManager":{"id":"@{variables('FMId')}","code":"@{variables('FMCode')}","name":"@{variables('FMName')}","email":"@{variables('FMEmail')}","designation":"@{variables('FMDesignation')}","phone":"@{variables('FMPhone')}","fax":"@{variables('FMFax')}","address":"@{variables('FMAddress')}","contact_name":"@{variables('FMContactName')}","contact_phone":"@{variables('FMContactPhone')}","contact_email":"@{variables('FMContactEmail')}"},"correspondenceAddress":{"address1":"@{body('Get_Corporate_Account')['address2_line1']}","address2":"@{body('Get_Corporate_Account')['address2_line2']}","address3":"@{body('Get_Corporate_Account')?['address2_line3']}","province":"@{body('Get_Corporate_Account')?['address2_stateorprovince']}","city":"@{body('Get_Corporate_Account')?['address2_city']}","country":"@{body('Get_Corporate_Account')?['address2_country']}","postalCode":"@{body('Get_Corporate_Account')?['address2_postalcode']}"},"address":{"address1":"@{body('Get_Corporate_Account')?['address1_line1']}","address2":"@{body('Get_Corporate_Account')?['address1_line2']}","address3":"@{body('Get_Corporate_Account')?['address1_line3']}","city":"@{body('Get_Corporate_Account')?['address1_city']}","country":"@{body('Get_Corporate_Account')?['address1_country']}","postalCode":"@{body('Get_Corporate_Account')?['address1_postalcode']}"},"bank":"@variables('BankAccountArray')","contact":"@variables('ContactPeopleArray')","UTMS_product_list":"@variables('ProductArray')"},"dataOrganizational":{"registeredNo":"@{body('Get_Corporate_Account')?['new_registrationnumberaccounts']}","businessLine":""},"dataIndividual":{"title":"","initials":"","denotedByInitials":"","nic":"","ppNo":"","joinApplicants":[{"title":"","initials":"","surname":"","name":"","email":"","nic":"","ppNo":""}]}}},"authentication":{"type":"Basic","username":"mitra","password":"m1tr4@c4l"}}},"Opp:_Mark_Synced_and_ready_for_Updates":{"runAfter":{"Corp._Register_JSON_Request":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"_customerid_type":"","dcecal_senttodownstream":true,"dcecal_isthisanupdate":true,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('opportunities'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['opportunityid']))}","authentication":"@parameters('$authentication')"}},"UTMS_U_Account_Products":{"runAfter":{"UTMS_C_Update_Opp":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"new_bf":"@body('Get_Related_Opportunity')?['dcecal_prodbf']","new_cahyf":"@body('Get_Related_Opportunity')?['dcecal_prodcahyf']","new_cgdtf":"@body('Get_Corporate_Account')?['new_cgdtf']","new_ctf":"@body('Get_Related_Opportunity')?['dcecal_prodctf']","new_gf":"@body('Get_Related_Opportunity')?['dcecal_prodgf']","new_gmmf":"@body('Get_Related_Opportunity')?['dcecal_prodgmmf']","new_gtf":"@body('Get_Related_Opportunity')?['dcecal_prodgtf']","new_if":"@body('Get_Related_Opportunity')?['dcecal_prodif']","new_igf":"@body('Get_Related_Opportunity')?['dcecal_prdoigf']","new_mrdf":"@body('Get_Related_Opportunity')?['dcecal_prodmrdf']","new_qef":"@body('Get_Related_Opportunity')?['dcecal_prodqef']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_parentaccountid_value']))}","authentication":"@parameters('$authentication')"}},"Send_an_email_4":{"runAfter":{"Corp._Register_JSON_Request":["Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"testjit@cal.lk;sanjaya@cal.lk;","Subject":"Failed JSON for @{body('Get_Related_Opportunity')['name']}","Body":"{\n  \"customer\": {\n    \"metaData\": {\n      \"applications\": \"UTMS\",\n      \"accountType\": \"C\",\n      \"customerCode\": \"@{variables('CRMID')}\"\n    },\n    \"dataGeneral\": {\n      \"customerType\": \"ZCA_CUSTOMER\",\n      \"surname\": \"@{body('Get_Corporate_Account')?['name']}\",\n      \"residential\": \"LOCAL\",\n      \"primaryPhone\": \"@{body('Get_Corporate_Account')['telephone1']}\",\n      \"secondaryPhone\": \"\",\n      \"mobileNo\": \"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}\",\n      \"secondaryMobileNo\": \"\",\n      \"secondaryEmail\": \"@{body('Get_Corporate_Account')?['emailaddress2']}\",\n      \"primaryEmail\": \"@{body('Get_Corporate_Account')['emailaddress1']}\",\n      \"fax\": \"@{body('Get_Corporate_Account')?['fax']}\",\n      \"preferredContactMethod\": \"@{body('Get_Corporate_Account')['_new_1confirmationsandstatements_label']}\",\n      \"fundManager\": {\n        \"id\": \"@{variables('FMId')}\",\n        \"code\": \"@{variables('FMCode')}\",\n        \"name\": \"@{variables('FMName')}\",\n        \"email\": \"@{variables('FMEmail')}\",\n        \"designation\": \"@{variables('FMDesignation')}\",\n        \"phone\": \"@{variables('FMPhone')}\",\n        \"fax\": \"@{variables('FMFax')}\",\n        \"address\": \"@{variables('FMAddress')}\",\n        \"contact_name\": \"@{variables('FMContactName')}\",\n        \"contact_phone\": \"@{variables('FMContactPhone')}\",\n        \"contact_email\": \"@{variables('FMContactEmail')}\"\n      },\n      \"correspondenceAddress\": {\n        \"address1\": \"@{body('Get_Corporate_Account')['address2_line1']}\",\n        \"address2\": \"@{body('Get_Corporate_Account')['address2_line2']}\",\n        \"address3\": \"@{body('Get_Corporate_Account')?['address2_line3']}\",\n        \"province\": \"@{body('Get_Corporate_Account')?['address2_stateorprovince']}\",\n        \"city\": \"@{body('Get_Corporate_Account')?['address2_city']}\",\n        \"country\": \"@{body('Get_Corporate_Account')?['address2_country']}\",\n        \"postalCode\": \"@{body('Get_Corporate_Account')?['address2_postalcode']}\"\n      },\n      \"address\": {\n        \"address1\": \"@{body('Get_Corporate_Account')?['address1_line1']}\",\n        \"address2\": \"@{body('Get_Corporate_Account')?['address1_line2']}\",\n        \"address3\": \"@{body('Get_Corporate_Account')?['address1_line3']}\",\n        \"city\": \"@{body('Get_Corporate_Account')?['address1_city']}\",\n        \"country\": \"@{body('Get_Corporate_Account')?['address1_country']}\",\n        \"postalCode\": \"@{body('Get_Corporate_Account')?['address1_postalcode']}\"\n      },\n      \"bank\": @{variables('BankAccountArray')},\n      \"contact\": @{variables('ContactPeopleArray')},\n      \"UTMS_product_list\": @{variables('ProductArray')}\n    },\n    \"dataOrganizational\": {\n      \"registeredNo\": \"@{body('Get_Corporate_Account')?['new_registrationnumberaccounts']}\",\n      \"businessLine\": \"\"\n    },\n    \"dataIndividual\": {\n      \"title\": \"\",\n      \"initials\": \"\",\n      \"denotedByInitials\": \"\",\n      \"nic\": \"\",\n      \"ppNo\": \"\",\n      \"joinApplicants\": [\n        {\n          \"title\": \"\",\n          \"initials\": \"\",\n          \"surname\": \"\",\n          \"name\": \"\",\n          \"email\": \"\",\n          \"nic\": \"\",\n          \"ppNo\": \"\"\n        }\n      ]\n    }\n  }\n}"},"path":"/Mail","authentication":"@parameters('$authentication')"}},"Terminate_4":{"runAfter":{"Send_an_email_4":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"DCECAL_ERR0001","message":"Sync failed with JSON Sent"}}},"UTMS_C_Update_Opp":{"runAfter":{"Update_UTMS_-_Corp._JSON_Request":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"_customerid_type":"","dcecal_senttodownstream":true,"dcecal_isthisanupdate":true,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('opportunities'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['opportunityid']))}","authentication":"@parameters('$authentication')"}},"UTMS_Update_Account_Products":{"runAfter":{"Opp:_Mark_Synced_and_ready_for_Updates":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"new_bf":"@body('Get_Related_Opportunity')?['dcecal_prodbf']","new_cahyf":"@body('Get_Related_Opportunity')?['dcecal_prodcahyf']","new_cgdtf":"@body('Get_Corporate_Account')?['new_cgdtf']","new_ctf":"@body('Get_Related_Opportunity')?['dcecal_prodctf']","new_gmmf":"@body('Get_Related_Opportunity')?['dcecal_prodgmmf']","new_gtf":"@body('Get_Related_Opportunity')?['dcecal_prodgtf']","new_if":"@body('Get_Related_Opportunity')?['dcecal_prodif']","new_igf":"@body('Get_Related_Opportunity')?['dcecal_prdoigf']","new_mrdf":"@body('Get_Related_Opportunity')?['dcecal_prodmrdf']","new_qef":"@body('Get_Related_Opportunity')?['dcecal_prodqef']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_parentaccountid_value']))}","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@body('Get_Related_Opportunity')?['new_debugmode']","yeah"]},"type":"If"},"Check_Common_Bank_UC":{"actions":{"Get_UC_Common_Bank_Account":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_commonbankaccounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Corporate_Account')?['_new_commonbankaccount_value']))}","authentication":"@parameters('$authentication')"}},"Compose_UC_CBA":{"runAfter":{"Get_UC_Common_Bank_Account":["Succeeded"]},"type":"Compose","inputs":{"name":"@{body('Get_UC_Common_Bank_Account')?['new_banknametext']}","branch":"@{body('Get_UC_Common_Bank_Account')?['new_branchnametext']}","accountType":"@{body('Get_UC_Common_Bank_Account')?['new_accounttype']}","accountNo":"@{body('Get_UC_Common_Bank_Account')?['new_bacnumber']}"}},"Append_to_array_variable_2":{"runAfter":{"Compose_UC_CBA":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"BankAccountArray","value":"@outputs('Compose_UC_CBA')"}}},"runAfter":{"Apply_to_each_2":["Succeeded"]},"expression":{"equals":["@body('Get_Corporate_Account')?['new_commonbankavailable']",true]},"type":"If"}},"runAfter":{"GTF":["Succeeded"]},"else":{"actions":{"If_Individual":{"actions":{"Get_Individual_Contact":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_parentcontactid_value']))}","authentication":"@parameters('$authentication')"}},"List_Ind._Bank_Accounts":{"runAfter":{"Check_Running_Number_UI":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_bankaccounts'))}/items","queries":{"$filter":"dcecal_holderguid eq '@{body('Get_Individual_Contact')?['new_nicnumber']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@body('List_Ind._Bank_Accounts')?['value']","actions":{"Compose_Ind._Bank_Accounts":{"runAfter":{},"type":"Compose","inputs":{"name":"@{items('Apply_to_each_3')?['dcecal_banknametext']}","branch":"@{items('Apply_to_each_3')?['dcecal_branchnametext']}","accountType":"@{items('Apply_to_each_3')?['dcecal_accounttype']}","accountNo":"@{items('Apply_to_each_3')?['new_bankaccountnumber']}"}},"Append_Ind._Bank_Accounts":{"runAfter":{"Compose_Ind._Bank_Accounts":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"BankAccountArray","value":"@outputs('Compose_Ind._Bank_Accounts')"}}},"runAfter":{"List_Ind._Bank_Accounts":["Succeeded"]},"type":"Foreach"},"Check_Running_Number_UI":{"actions":{"Append_to_UI_G_CRMID":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CRMID","value":"I-@{body('Get_Individual_Contact')?['contactid']}@{variables('FMSuffix')}"}}},"runAfter":{"Get_Individual_Contact":["Succeeded"]},"else":{"actions":{"Append_to_UI_R_CRMID":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CRMID","value":"@{body('Get_Individual_Contact')?['new_runningnumber']}@{variables('FMSuffix')}"}}}},"expression":{"equals":["@body('Get_Individual_Contact')?['new_runningnumber']","@null"]},"type":"If"},"Check_Debugging_UI":{"actions":{"Send_an_email_8":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"testjit@cal.lk;","Subject":"Debugging Mode: UTMS @{variables('CRMID')} for @{body('Get_Related_Opportunity')?['name']}","Body":"{\n  \"customer\": {\n    \"metaData\": {\n      \"applications\": \"UTMS\",\n      \"accountType\": \"I\",\n      \"customerCode\": \"@{variables('CRMID')}\"\n    },\n    \"dataGeneral\": {\n      \"customerType\": \"ZCA_CUSTOMER\",\n      \"surname\": \"@{body('Get_Individual_Contact')['lastname']}\",\n      \"residential\": \"LOCAL\",\n      \"primaryPhone\": \"@{body('Get_Individual_Contact')['telephone1']}\",\n      \"secondaryPhone\": \"\",\n      \"mobileNo\": \"@{body('Get_Individual_Contact')?['mobilephone']}\",\n      \"secondaryMobileNo\": \"\",\n      \"secondaryEmail\": \"@{body('Get_Individual_Contact')?['new_otheremailaddressescommaseparated']}\",\n      \"primaryEmail\": \"@{body('Get_Individual_Contact')['emailaddress1']}\",\n      \"fax\": \"@{body('Get_Individual_Contact')?['fax']}\",\n      \"preferredContactMethod\": \"@{body('Get_Individual_Contact')['_new_1confirmationsandstatements_label']}\",\n      \"fundManager\": {\n        \"id\": \"@{variables('FMId')}\",\n        \"code\": \"@{variables('FMCode')}\",\n        \"name\": \"@{variables('FMName')}\",\n        \"email\": \"@{variables('FMEmail')}\",\n        \"designation\": \"@{variables('FMDesignation')}\",\n        \"phone\": \"@{variables('FMPhone')}\",\n        \"fax\": \"@{variables('FMFax')}\",\n        \"address\": \"@{variables('FMAddress')}\",\n        \"contact_name\": \"@{variables('FMContactName')}\",\n        \"contact_phone\": \"@{variables('FMContactPhone')}\",\n        \"contact_email\": \"@{variables('FMContactEmail')}\"\n      },\n      \"correspondenceAddress\": {\n        \"address1\": \"@{body('Get_Individual_Contact')['address2_line1']}\",\n        \"address2\": \"@{body('Get_Individual_Contact')['address2_line2']}\",\n        \"address3\": \"@{body('Get_Individual_Contact')?['address2_line3']}\",\n        \"province\": \"@{body('Get_Individual_Contact')?['address2_stateorprovince']}\",\n        \"city\": \"@{body('Get_Individual_Contact')?['address2_city']}\",\n        \"country\": \"@{body('Get_Individual_Contact')?['address2_country']}\",\n        \"postalCode\": \"@{body('Get_Individual_Contact')?['address2_postalcode']}\"\n      },\n      \"address\": {\n        \"address1\": \"@{body('Get_Individual_Contact')?['address1_line1']}\",\n        \"address2\": \"@{body('Get_Individual_Contact')?['address1_line2']}\",\n        \"address3\": \"@{body('Get_Individual_Contact')?['address1_line3']}\",\n        \"city\": \"@{body('Get_Individual_Contact')?['address1_city']}\",\n        \"country\": \"@{body('Get_Individual_Contact')?['address1_country']}\",\n        \"postalCode\": \"@{body('Get_Individual_Contact')?['address1_postalcode']}\"\n      },\n      \"bank\": @{variables('BankAccountArray')},\n      \"contact\": [\n        {\n          \"name\": \"\",\n          \"email\": \"\",\n          \"designation\": \"\",\n          \"phone\": \"\",\n          \"fax\": \"\"\n        }\n      ],\n      \"UTMS_product_list\": @{variables('ProductArray')}\n    },\n    \"dataOrganizational\": {\n      \"registeredNo\": \"\",\n      \"businessLine\": \"\"\n    },\n    \"dataIndividual\": {\n      \"title\": \"@{body('Get_Individual_Contact')['_new_1titledropdown_label']}\",\n      \"initials\": \"@{body('Get_Individual_Contact')['new_initials']}\",\n      \"denotedByInitials\": \"@{body('Get_Individual_Contact')['new_namesdenotedbyinitials']}\",\n      \"nic\": \"@{body('Get_Individual_Contact')['new_nicnumber']}\",\n      \"ppNo\": \"@{body('Get_Individual_Contact')?['new_passportnumber']}\",\n      \"joinApplicants\": [\n        {\n          \"title\": \"\",\n          \"initials\": \"\",\n          \"surname\": \"\",\n          \"name\": \"\",\n          \"email\": \"\",\n          \"nic\": \"\",\n          \"ppNo\": \"\"\n        }\n      ]\n    }\n  }\n}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Check_CBA_UI":["Succeeded"]},"else":{"actions":{"Update_UTMS_-_Int._JSON_Request":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"http://13.229.244.242:8080/UnitTrust/rest/customers/update","body":{"customer":{"metaData":{"applications":"UTMS","accountType":"I","customerCode":"@{variables('CRMID')}"},"dataGeneral":{"customerType":"ZCA_CUSTOMER","surname":"@{body('Get_Individual_Contact')['lastname']}","residential":"LOCAL","primaryPhone":"@{body('Get_Individual_Contact')['telephone1']}","secondaryPhone":"","mobileNo":"@{body('Get_Individual_Contact')?['mobilephone']}","secondaryMobileNo":"","secondaryEmail":"@{body('Get_Individual_Contact')?['new_otheremailaddressescommaseparated']}","primaryEmail":"@{body('Get_Individual_Contact')['emailaddress1']}","fax":"@{body('Get_Individual_Contact')?['fax']}","preferredContactMethod":"@{body('Get_Individual_Contact')['_new_1confirmationsandstatements_label']}","fundManager":{"id":"@{variables('FMId')}","code":"@{variables('FMCode')}","name":"@{variables('FMName')}","email":"@{variables('FMEmail')}","designation":"@{variables('FMDesignation')}","phone":"@{variables('FMPhone')}","fax":"@{variables('FMFax')}","address":"@{variables('FMAddress')}","contact_name":"@{variables('FMContactName')}","contact_phone":"@{variables('FMContactPhone')}","contact_email":"@{variables('FMContactEmail')}"},"correspondenceAddress":{"address1":"@{body('Get_Individual_Contact')['address2_line1']}","address2":"@{body('Get_Individual_Contact')['address2_line2']}","address3":"@{body('Get_Individual_Contact')?['address2_line3']}","province":"@{body('Get_Individual_Contact')?['address2_stateorprovince']}","city":"@{body('Get_Individual_Contact')?['address2_city']}","country":"@{body('Get_Individual_Contact')?['address2_country']}","postalCode":"@{body('Get_Individual_Contact')?['address2_postalcode']}"},"address":{"address1":"@{body('Get_Individual_Contact')?['address1_line1']}","address2":"@{body('Get_Individual_Contact')?['address1_line2']}","address3":"@{body('Get_Individual_Contact')?['address1_line3']}","city":"@{body('Get_Individual_Contact')?['address1_city']}","country":"@{body('Get_Individual_Contact')?['address1_country']}","postalCode":"@{body('Get_Individual_Contact')?['address1_postalcode']}"},"bank":"@variables('BankAccountArray')","contact":[{"name":"","email":"","designation":"","phone":"","fax":""}],"UTMS_product_list":"@variables('ProductArray')"},"dataOrganizational":{"registeredNo":"","businessLine":""},"dataIndividual":{"title":"@{body('Get_Individual_Contact')['_new_1titledropdown_label']}","initials":"@{body('Get_Individual_Contact')['new_initials']}","denotedByInitials":"@{body('Get_Individual_Contact')['new_namesdenotedbyinitials']}","nic":"@{body('Get_Individual_Contact')['new_nicnumber']}","ppNo":"@{body('Get_Individual_Contact')?['new_passportnumber']}","joinApplicants":[{"title":"","initials":"","surname":"","name":"","email":"","nic":"","ppNo":""}]}}},"authentication":{"type":"Basic","username":"mitra","password":"m1tr4@c4l"}}},"Ind._Register_JSON_Request":{"runAfter":{"Update_UTMS_-_Int._JSON_Request":["Failed"]},"type":"Http","inputs":{"method":"POST","uri":"http://13.229.244.242:8080/UnitTrust/rest/customers/register","body":{"customer":{"metaData":{"applications":"UTMS","accountType":"I","customerCode":"@{variables('CRMID')}"},"dataGeneral":{"customerType":"ZCA_CUSTOMER","surname":"@{body('Get_Individual_Contact')['lastname']}","residential":"LOCAL","primaryPhone":"@{body('Get_Individual_Contact')['telephone1']}","secondaryPhone":"","mobileNo":"@{body('Get_Individual_Contact')?['mobilephone']}","secondaryMobileNo":"","secondaryEmail":"@{body('Get_Individual_Contact')?['new_otheremailaddressescommaseparated']}","primaryEmail":"@{body('Get_Individual_Contact')['emailaddress1']}","fax":"@{body('Get_Individual_Contact')?['fax']}","preferredContactMethod":"@{body('Get_Individual_Contact')['_new_1confirmationsandstatements_label']}","fundManager":{"id":"@{variables('FMId')}","code":"@{variables('FMCode')}","name":"@{variables('FMName')}","email":"@{variables('FMEmail')}","designation":"@{variables('FMDesignation')}","phone":"@{variables('FMPhone')}","fax":"@{variables('FMFax')}","address":"@{variables('FMAddress')}","contact_name":"@{variables('FMContactName')}","contact_phone":"@{variables('FMContactPhone')}","contact_email":"@{variables('FMContactEmail')}"},"correspondenceAddress":{"address1":"@{body('Get_Individual_Contact')['address2_line1']}","address2":"@{body('Get_Individual_Contact')['address2_line2']}","address3":"@{body('Get_Individual_Contact')?['address2_line3']}","province":"@{body('Get_Individual_Contact')?['address2_stateorprovince']}","city":"@{body('Get_Individual_Contact')?['address2_city']}","country":"@{body('Get_Individual_Contact')?['address2_country']}","postalCode":"@{body('Get_Individual_Contact')?['address2_postalcode']}"},"address":{"address1":"@{body('Get_Individual_Contact')?['address1_line1']}","address2":"@{body('Get_Individual_Contact')?['address1_line2']}","address3":"@{body('Get_Individual_Contact')?['address1_line3']}","city":"@{body('Get_Individual_Contact')?['address1_city']}","country":"@{body('Get_Individual_Contact')?['address1_country']}","postalCode":"@{body('Get_Individual_Contact')?['address1_postalcode']}"},"bank":"@variables('BankAccountArray')","contact":[{"name":"","email":"","designation":"","phone":"","fax":""}],"UTMS_product_list":"@variables('ProductArray')"},"dataOrganizational":{"registeredNo":"","businessLine":""},"dataIndividual":{"title":"@{body('Get_Individual_Contact')['_new_1titledropdown_label']}","initials":"@{body('Get_Individual_Contact')['new_initials']}","denotedByInitials":"@{body('Get_Individual_Contact')['new_namesdenotedbyinitials']}","nic":"@{body('Get_Individual_Contact')['new_nicnumber']}","ppNo":"@{body('Get_Individual_Contact')?['new_passportnumber']}","joinApplicants":[{"title":"","initials":"","surname":"","name":"","email":"","nic":"","ppNo":""}]}}},"authentication":{"type":"Basic","username":"mitra","password":"m1tr4@c4l"}}},"Opp:_Ind._Set_to_an_Updates_and_Synced":{"runAfter":{"Ind._Register_JSON_Request":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"_customerid_type":"","dcecal_senttodownstream":true,"dcecal_isthisanupdate":true,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('opportunities'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['opportunityid']))}","authentication":"@parameters('$authentication')"}},"UTMS_R_Ind_Cont":{"runAfter":{"Opp:_Ind._Set_to_an_Updates_and_Synced":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"new_bf":"@body('Get_Related_Opportunity')?['dcecal_prodbf']","new_cahyf":"@body('Get_Related_Opportunity')?['dcecal_prodcahyf']","new_cdgtf":"@body('Get_Related_Opportunity')?['dcecal_prodcdgtf']","new_ctf":"@body('Get_Related_Opportunity')?['dcecal_prodctf']","new_gf":"@body('Get_Related_Opportunity')?['dcecal_prodgf']","new_gmmf":"@body('Get_Related_Opportunity')?['dcecal_prodgmmf']","new_gtf":"@body('Get_Related_Opportunity')?['dcecal_prodgtf']","new_if":"@body('Get_Related_Opportunity')?['dcecal_prodif']","new_igf":"@body('Get_Related_Opportunity')?['dcecal_prdoigf']","new_mrdf":"@body('Get_Related_Opportunity')?['dcecal_prodmrdf']","new_qef":"@body('Get_Related_Opportunity')?['dcecal_prodqef']","_parentcustomerid_type":"","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_parentcontactid_value']))}","authentication":"@parameters('$authentication')"}},"Send_an_email_5":{"runAfter":{"Ind._Register_JSON_Request":["Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"sanjaya@cal.lk;testjit@cal.lk;","Subject":"Failed JSON for Opp: @{body('Get_Related_Opportunity')['name']}","Body":"{\n  \"customer\": {\n    \"metaData\": {\n      \"applications\": \"UTMS\",\n      \"accountType\": \"I\",\n      \"customerCode\": \"@{variables('CRMID')}\"\n    },\n    \"dataGeneral\": {\n      \"customerType\": \"ZCA_CUSTOMER\",\n      \"surname\": \"@{body('Get_Individual_Contact')['lastname']}\",\n      \"residential\": \"LOCAL\",\n      \"primaryPhone\": \"@{body('Get_Individual_Contact')['telephone1']}\",\n      \"secondaryPhone\": \"\",\n      \"mobileNo\": \"@{body('Get_Individual_Contact')?['mobilephone']}\",\n      \"secondaryMobileNo\": \"\",\n      \"secondaryEmail\": \"@{body('Get_Individual_Contact')?['new_otheremailaddressescommaseparated']}\",\n      \"primaryEmail\": \"@{body('Get_Individual_Contact')['emailaddress1']}\",\n      \"fax\": \"@{body('Get_Individual_Contact')?['fax']}\",\n      \"preferredContactMethod\": \"@{body('Get_Individual_Contact')['_new_1confirmationsandstatements_label']}\",\n      \"fundManager\": {\n        \"id\": \"@{variables('FMId')}\",\n        \"code\": \"@{variables('FMCode')}\",\n        \"name\": \"@{variables('FMName')}\",\n        \"email\": \"@{variables('FMEmail')}\",\n        \"designation\": \"@{variables('FMDesignation')}\",\n        \"phone\": \"@{variables('FMPhone')}\",\n        \"fax\": \"@{variables('FMFax')}\",\n        \"address\": \"@{variables('FMAddress')}\",\n        \"contact_name\": \"@{variables('FMContactName')}\",\n        \"contact_phone\": \"@{variables('FMContactPhone')}\",\n        \"contact_email\": \"@{variables('FMContactEmail')}\"\n      },\n      \"correspondenceAddress\": {\n        \"address1\": \"@{body('Get_Individual_Contact')['address2_line1']}\",\n        \"address2\": \"@{body('Get_Individual_Contact')['address2_line2']}\",\n        \"address3\": \"@{body('Get_Individual_Contact')?['address2_line3']}\",\n        \"province\": \"@{body('Get_Individual_Contact')?['address2_stateorprovince']}\",\n        \"city\": \"@{body('Get_Individual_Contact')?['address2_city']}\",\n        \"country\": \"@{body('Get_Individual_Contact')?['address2_country']}\",\n        \"postalCode\": \"@{body('Get_Individual_Contact')?['address2_postalcode']}\"\n      },\n      \"address\": {\n        \"address1\": \"@{body('Get_Individual_Contact')?['address1_line1']}\",\n        \"address2\": \"@{body('Get_Individual_Contact')?['address1_line2']}\",\n        \"address3\": \"@{body('Get_Individual_Contact')?['address1_line3']}\",\n        \"city\": \"@{body('Get_Individual_Contact')?['address1_city']}\",\n        \"country\": \"@{body('Get_Individual_Contact')?['address1_country']}\",\n        \"postalCode\": \"@{body('Get_Individual_Contact')?['address1_postalcode']}\"\n      },\n      \"bank\": @{variables('BankAccountArray')},\n      \"contact\": [\n        {\n          \"name\": \"\",\n          \"email\": \"\",\n          \"designation\": \"\",\n          \"phone\": \"\",\n          \"fax\": \"\"\n        }\n      ],\n      \"UTMS_product_list\": @{variables('ProductArray')}\n    },\n    \"dataOrganizational\": {\n      \"registeredNo\": \"\",\n      \"businessLine\": \"\"\n    },\n    \"dataIndividual\": {\n      \"title\": \"@{body('Get_Individual_Contact')['_new_1titledropdown_label']}\",\n      \"initials\": \"@{body('Get_Individual_Contact')['new_initials']}\",\n      \"denotedByInitials\": \"@{body('Get_Individual_Contact')['new_namesdenotedbyinitials']}\",\n      \"nic\": \"@{body('Get_Individual_Contact')['new_nicnumber']}\",\n      \"ppNo\": \"@{body('Get_Individual_Contact')?['new_passportnumber']}\",\n      \"joinApplicants\": [\n        {\n          \"title\": \"\",\n          \"initials\": \"\",\n          \"surname\": \"\",\n          \"name\": \"\",\n          \"email\": \"\",\n          \"nic\": \"\",\n          \"ppNo\": \"\"\n        }\n      ]\n    }\n  }\n}"},"path":"/Mail","authentication":"@parameters('$authentication')"}},"Terminate_5":{"runAfter":{"Send_an_email_5":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"DCECAL_ERR0001","message":"Sync failed with JSON Sent"}}},"UTMS_U_Ind_Opp":{"runAfter":{"Update_UTMS_-_Int._JSON_Request":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"_customerid_type":"","dcecal_senttodownstream":true,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('opportunities'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['opportunityid']))}","authentication":"@parameters('$authentication')"}},"UTMS_U_Ind_Cont":{"runAfter":{"UTMS_U_Ind_Opp":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"new_bf":"@body('Get_Related_Opportunity')?['dcecal_prodbf']","new_cahyf":"@body('Get_Related_Opportunity')?['dcecal_prodcahyf']","new_cdgtf":"@body('Get_Related_Opportunity')?['dcecal_prodcdgtf']","new_ctf":"@body('Get_Related_Opportunity')?['dcecal_prodctf']","new_gf":"@body('Get_Related_Opportunity')?['dcecal_prodgf']","new_gmmf":"@body('Get_Related_Opportunity')?['dcecal_prodgmmf']","new_gtf":"@body('Get_Related_Opportunity')?['dcecal_prodgtf']","new_if":"@body('Get_Related_Opportunity')?['dcecal_prodif']","new_igf":"@body('Get_Related_Opportunity')?['dcecal_prdoigf']","new_mrdf":"@body('Get_Related_Opportunity')?['dcecal_prodmrdf']","new_qef":"@body('Get_Related_Opportunity')?['dcecal_prodqef']","_parentcustomerid_type":"","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_parentcontactid_value']))}","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@body('Get_Related_Opportunity')?['new_debugmode']","yeah"]},"type":"If"},"Check_CBA_UI":{"actions":{"Get_UI_CBA":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_commonbankaccounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Individual_Contact')?['_new_commonbankaccount_value']))}","authentication":"@parameters('$authentication')"}},"Compose_UI_CBA":{"runAfter":{"Get_UI_CBA":["Succeeded"]},"type":"Compose","inputs":{"name":"@{body('Get_UI_CBA')?['new_banknametext']}","branch":"@{body('Get_UI_CBA')?['new_branchnametext']}","accountType":"@{body('Get_UI_CBA')?['new_accounttype']}","accountNo":"@{body('Get_UI_CBA')?['new_bacnumber']}"}},"Append_to_array_variable_3":{"runAfter":{"Compose_UI_CBA":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"BankAccountArray","value":"@outputs('Compose_UI_CBA')"}}},"runAfter":{"Apply_to_each_3":["Succeeded"]},"expression":{"equals":["@body('Get_Individual_Contact')?['new_commonbankavailable']",true]},"type":"If"}},"runAfter":{},"else":{"actions":{"If_JA":{"actions":{"Get_Joint_Account":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('dcecal_jointaccounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_dcecal_jointaccountid_value']))}","authentication":"@parameters('$authentication')"}},"Get_Primary_Holder":{"runAfter":{"Check_Running_Number_UJA":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Joint_Account')?['_dcecal_primaryholder_value']))}","authentication":"@parameters('$authentication')"}},"Get_Secondary_Holder":{"runAfter":{"Get_Primary_Holder":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Joint_Account')?['_dcecal_secondaryholder_value']))}","authentication":"@parameters('$authentication')"}},"List_JA_Bank_Accounts":{"runAfter":{"Get_Secondary_Holder":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_bankaccounts'))}/items","queries":{"$filter":"dcecal_holderguid eq '@{body('Get_Joint_Account')?['dcecal_nicnumber']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_4":{"foreach":"@body('List_JA_Bank_Accounts')?['value']","actions":{"Compose_JA_Bank_Accounts":{"runAfter":{},"type":"Compose","inputs":{"name":"@{items('Apply_to_each_4')?['dcecal_banknametext']}","branch":"@{items('Apply_to_each_4')?['dcecal_branchnametext']}","accountType":"@{items('Apply_to_each_4')?['dcecal_accounttype']}","accountNo":"@{items('Apply_to_each_4')?['new_bankaccountnumber']}"}},"Append_JA_Bank_Accounts":{"runAfter":{"Compose_JA_Bank_Accounts":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"BankAccountArray","value":"@outputs('Compose_JA_Bank_Accounts')"}}},"runAfter":{"List_JA_Bank_Accounts":["Succeeded"]},"type":"Foreach"},"Check_Running_Number_UJA":{"actions":{"Append_to_UJA_G_CRMID":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CRMID","value":"JA-@{body('Get_Joint_Account')?['dcecal_jointaccountid']}@{variables('FMSuffix')}"}}},"runAfter":{"Get_Joint_Account":["Succeeded"]},"else":{"actions":{"Append_to_UJA_R_CRMID":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CRMID","value":"@{body('Get_Joint_Account')?['dcecal_runningnumberjointaccount']}@{variables('FMSuffix')}"}}}},"expression":{"equals":["@body('Get_Joint_Account')?['dcecal_runningnumberjointaccount']","@null"]},"type":"If"},"Check_Debugging_UJ":{"actions":{"Send_an_email_9":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"testjit@cal.lk;","Subject":"Debugging Mode: UTMS @{variables('CRMID')} for @{body('Get_Related_Opportunity')?['name']}","Body":"{\n  \"customer\": {\n    \"metaData\": {\n      \"applications\": \"UTMS\",\n      \"accountType\": \"J\",\n      \"customerCode\": \"@{variables('CRMID')}\"\n    },\n    \"dataGeneral\": {\n      \"customerType\": \"INTERNAL\",\n      \"surname\": \"@{body('Get_Primary_Holder')?['lastname']}\",\n      \"residential\": \"LOCAL\",\n      \"primaryPhone\": \"@{body('Get_Primary_Holder')['telephone1']}\",\n      \"secondaryPhone\": \"\",\n      \"mobileNo\": \"@{body('Get_Primary_Holder')?['mobilephone']}\",\n      \"secondaryMobileNo\": \"\",\n      \"secondaryEmail\": \"@{body('Get_Primary_Holder')?['emailaddress2']}\",\n      \"primaryEmail\": \"@{body('Get_Primary_Holder')['emailaddress1']}\",\n      \"fax\": \"@{body('Get_Primary_Holder')?['fax']}\",\n      \"preferredContactMethod\": \"@{body('Get_Joint_Account')['_new_1confirmationsandstatements_label']}\",\n      \"correspondenceAddress\": {\n        \"address1\": \"@{body('Get_Primary_Holder')['address2_line1']}\",\n        \"address2\": \"@{body('Get_Primary_Holder')['address2_line2']}\",\n        \"address3\": \"@{body('Get_Primary_Holder')?['address2_line3']}\",\n        \"province\": \"@{body('Get_Primary_Holder')?['address2_stateorprovince']}\",\n        \"city\": \"@{body('Get_Primary_Holder')?['address2_city']}\",\n        \"country\": \"@{body('Get_Primary_Holder')?['address2_country']}\",\n        \"postalCode\": \"@{body('Get_Primary_Holder')?['address2_postalcode']}\"\n      },\n      \"address\": {\n        \"address1\": \"@{body('Get_Primary_Holder')?['address1_line1']}\",\n        \"address2\": \"@{body('Get_Primary_Holder')?['address1_line2']}\",\n        \"address3\": \"@{body('Get_Primary_Holder')?['address1_line3']}\",\n        \"city\": \"@{body('Get_Primary_Holder')?['address1_city']}\",\n        \"country\": \"@{body('Get_Primary_Holder')?['address1_country']}\",\n        \"postalCode\": \"@{body('Get_Primary_Holder')?['address1_postalcode']}\"\n      },\n      \"bank\": @{variables('BankAccountArray')},\n      \"contact\": [\n        {\n          \"name\": \"\",\n          \"email\": \"\",\n          \"designation\": \"\",\n          \"phone\": \"\",\n          \"fax\": \"\"\n        }\n      ],\n      \"UTMS_product_list\": @{variables('ProductArray')},\n      \"fundManager\": {\n        \"id\": \"@{variables('FMId')}\",\n        \"code\": \"@{variables('FMCode')}\",\n        \"name\": \"@{variables('FMName')}\",\n        \"email\": \"@{variables('FMEmail')}\",\n        \"designation\": \"@{variables('FMDesignation')}\",\n        \"phone\": \"@{variables('FMPhone')}\",\n        \"fax\": \"@{variables('FMFax')}\",\n        \"address\": \"@{variables('FMAddress')}\",\n        \"contact_name\": \"@{variables('FMContactName')}\",\n        \"contact_phone\": \"@{variables('FMContactPhone')}\",\n        \"contact_email\": \"@{variables('FMContactEmail')}\"\n      }\n    },\n    \"dataOrganizational\": {\n      \"registeredNo\": \"\",\n      \"businessLine\": \"\"\n    },\n    \"dataIndividual\": {\n      \"title\": \"@{body('Get_Primary_Holder')['_new_1titledropdown_label']}\",\n      \"initials\": \"@{body('Get_Primary_Holder')['new_initials']}\",\n      \"denotedByInitials\": \"@{body('Get_Primary_Holder')['new_namesdenotedbyinitials']}\",\n      \"nic\": \"@{body('Get_Primary_Holder')['new_nicnumber']}\",\n      \"ppNo\": \"@{body('Get_Primary_Holder')?['new_passportnumber']}\",\n      \"joinApplicants\": [\n        {\n          \"title\": \"@{body('Get_Secondary_Holder')['_new_1titledropdown_label']}\",\n          \"initials\": \"@{body('Get_Secondary_Holder')['new_initials']}\",\n          \"surname\": \"@{body('Get_Secondary_Holder')['lastname']}\",\n          \"name\": \"@{body('Get_Secondary_Holder')['new_namesdenotedbyinitials']}\",\n          \"email\": \"@{body('Get_Secondary_Holder')?['emailaddress1']}\",\n          \"nic\": \"@{body('Get_Secondary_Holder')['new_nicnumber']}\",\n          \"ppNo\": \"@{body('Get_Secondary_Holder')?['new_passportnumber']}\"\n        }\n      ]\n    }\n  }\n}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Check_UJ_CBA":["Succeeded"]},"else":{"actions":{"Update_UTMS_JA_JSON_Request":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"http://13.229.244.242:8080/UnitTrust/rest/customers/update","body":{"customer":{"metaData":{"applications":"UTMS","accountType":"J","customerCode":"@{variables('CRMID')}"},"dataGeneral":{"customerType":"INTERNAL","surname":"@{body('Get_Primary_Holder')?['lastname']}","residential":"LOCAL","primaryPhone":"@{body('Get_Primary_Holder')['telephone1']}","secondaryPhone":"","mobileNo":"@{body('Get_Primary_Holder')?['mobilephone']}","secondaryMobileNo":"","secondaryEmail":"@{body('Get_Primary_Holder')?['emailaddress2']}","primaryEmail":"@{body('Get_Primary_Holder')['emailaddress1']}","fax":"@{body('Get_Primary_Holder')?['fax']}","preferredContactMethod":"@{body('Get_Joint_Account')['_new_1confirmationsandstatements_label']}","correspondenceAddress":{"address1":"@{body('Get_Primary_Holder')['address2_line1']}","address2":"@{body('Get_Primary_Holder')['address2_line2']}","address3":"@{body('Get_Primary_Holder')?['address2_line3']}","province":"@{body('Get_Primary_Holder')?['address2_stateorprovince']}","city":"@{body('Get_Primary_Holder')?['address2_city']}","country":"@{body('Get_Primary_Holder')?['address2_country']}","postalCode":"@{body('Get_Primary_Holder')?['address2_postalcode']}"},"address":{"address1":"@{body('Get_Primary_Holder')?['address1_line1']}","address2":"@{body('Get_Primary_Holder')?['address1_line2']}","address3":"@{body('Get_Primary_Holder')?['address1_line3']}","city":"@{body('Get_Primary_Holder')?['address1_city']}","country":"@{body('Get_Primary_Holder')?['address1_country']}","postalCode":"@{body('Get_Primary_Holder')?['address1_postalcode']}"},"bank":"@variables('BankAccountArray')","contact":[{"name":"","email":"","designation":"","phone":"","fax":""}],"UTMS_product_list":"@variables('ProductArray')","fundManager":{"id":"@{variables('FMId')}","code":"@{variables('FMCode')}","name":"@{variables('FMName')}","email":"@{variables('FMEmail')}","designation":"@{variables('FMDesignation')}","phone":"@{variables('FMPhone')}","fax":"@{variables('FMFax')}","address":"@{variables('FMAddress')}","contact_name":"@{variables('FMContactName')}","contact_phone":"@{variables('FMContactPhone')}","contact_email":"@{variables('FMContactEmail')}"}},"dataOrganizational":{"registeredNo":"","businessLine":""},"dataIndividual":{"title":"@{body('Get_Primary_Holder')['_new_1titledropdown_label']}","initials":"@{body('Get_Primary_Holder')['new_initials']}","denotedByInitials":"@{body('Get_Primary_Holder')['new_namesdenotedbyinitials']}","nic":"@{body('Get_Primary_Holder')['new_nicnumber']}","ppNo":"@{body('Get_Primary_Holder')?['new_passportnumber']}","joinApplicants":[{"title":"@{body('Get_Secondary_Holder')['_new_1titledropdown_label']}","initials":"@{body('Get_Secondary_Holder')['new_initials']}","surname":"@{body('Get_Secondary_Holder')['lastname']}","name":"@{body('Get_Secondary_Holder')['new_namesdenotedbyinitials']}","email":"@{body('Get_Secondary_Holder')?['emailaddress1']}","nic":"@{body('Get_Secondary_Holder')['new_nicnumber']}","ppNo":"@{body('Get_Secondary_Holder')?['new_passportnumber']}"}]}}},"authentication":{"type":"Basic","username":"mitra","password":"m1tr4@c4l"}}},"JA_Register_JSON_Request":{"runAfter":{"Update_UTMS_JA_JSON_Request":["Failed"]},"type":"Http","inputs":{"method":"POST","uri":"http://13.229.244.242:8080/UnitTrust/rest/customers/register","body":{"customer":{"metaData":{"applications":"UTMS","accountType":"J","customerCode":"@{variables('CRMID')}"},"dataGeneral":{"customerType":"INTERNAL","surname":"@{body('Get_Primary_Holder')?['lastname']}","residential":"LOCAL","primaryPhone":"@{body('Get_Primary_Holder')['telephone1']}","secondaryPhone":"","mobileNo":"@{body('Get_Primary_Holder')?['mobilephone']}","secondaryMobileNo":"","secondaryEmail":"@{body('Get_Primary_Holder')?['emailaddress2']}","primaryEmail":"@{body('Get_Primary_Holder')['emailaddress1']}","fax":"@{body('Get_Primary_Holder')?['fax']}","preferredContactMethod":"@{body('Get_Joint_Account')['_new_1confirmationsandstatements_label']}","correspondenceAddress":{"address1":"@{body('Get_Primary_Holder')['address2_line1']}","address2":"@{body('Get_Primary_Holder')['address2_line2']}","address3":"@{body('Get_Primary_Holder')?['address2_line3']}","province":"@{body('Get_Primary_Holder')?['address2_stateorprovince']}","city":"@{body('Get_Primary_Holder')?['address2_city']}","country":"@{body('Get_Primary_Holder')?['address2_country']}","postalCode":"@{body('Get_Primary_Holder')?['address2_postalcode']}"},"address":{"address1":"@{body('Get_Primary_Holder')?['address1_line1']}","address2":"@{body('Get_Primary_Holder')?['address1_line2']}","address3":"@{body('Get_Primary_Holder')?['address1_line3']}","city":"@{body('Get_Primary_Holder')?['address1_city']}","country":"@{body('Get_Primary_Holder')?['address1_country']}","postalCode":"@{body('Get_Primary_Holder')?['address1_postalcode']}"},"bank":"@variables('BankAccountArray')","contact":[{"name":"","email":"","designation":"","phone":"","fax":""}],"UTMS_product_list":"@variables('ProductArray')","fundManager":{"id":"@{variables('FMId')}","code":"@{variables('FMCode')}","name":"@{variables('FMName')}","email":"@{variables('FMEmail')}","designation":"@{variables('FMDesignation')}","phone":"@{variables('FMPhone')}","fax":"@{variables('FMFax')}","address":"@{variables('FMAddress')}","contact_name":"@{variables('FMContactName')}","contact_phone":"@{variables('FMContactPhone')}","contact_email":"@{variables('FMContactEmail')}"}},"dataOrganizational":{"registeredNo":"","businessLine":""},"dataIndividual":{"title":"@{body('Get_Primary_Holder')['_new_1titledropdown_label']}","initials":"@{body('Get_Primary_Holder')['new_initials']}","denotedByInitials":"@{body('Get_Primary_Holder')['new_namesdenotedbyinitials']}","nic":"@{body('Get_Primary_Holder')['new_nicnumber']}","ppNo":"@{body('Get_Primary_Holder')?['new_passportnumber']}","joinApplicants":[{"title":"@{body('Get_Secondary_Holder')['_new_1titledropdown_label']}","initials":"@{body('Get_Secondary_Holder')['new_initials']}","surname":"@{body('Get_Secondary_Holder')['lastname']}","name":"@{body('Get_Secondary_Holder')['new_namesdenotedbyinitials']}","email":"@{body('Get_Secondary_Holder')?['emailaddress1']}","nic":"@{body('Get_Secondary_Holder')['new_nicnumber']}","ppNo":"@{body('Get_Secondary_Holder')?['new_passportnumber']}"}]}}},"authentication":{"type":"Basic","username":"mitra","password":"m1tr4@c4l"}}},"Opp:_JA_Set_to_an_Update_and_Synced":{"runAfter":{"JA_Register_JSON_Request":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"_customerid_type":"","dcecal_senttodownstream":true,"dcecal_isthisanupdate":true,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('opportunities'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['opportunityid']))}","authentication":"@parameters('$authentication')"}},"UTMS_R_JA":{"runAfter":{"Opp:_JA_Set_to_an_Update_and_Synced":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"new_bf":"@body('Get_Related_Opportunity')?['dcecal_prodbf']","new_cahyf":"@body('Get_Related_Opportunity')?['dcecal_prodcahyf']","new_cgdtf":"@body('Get_Related_Opportunity')?['dcecal_prodcdgtf']","new_ctf":"@body('Get_Related_Opportunity')?['dcecal_prodctf']","new_gf":"@body('Get_Related_Opportunity')?['dcecal_prodgf']","new_gmmf":"@body('Get_Related_Opportunity')?['dcecal_prodgmmf']","new_gtf":"@body('Get_Related_Opportunity')?['dcecal_prodgtf']","new_if":"@body('Get_Related_Opportunity')?['dcecal_prodif']","new_igf":"@body('Get_Related_Opportunity')?['dcecal_prdoigf']","new_mrdf":"@body('Get_Related_Opportunity')?['dcecal_prodmrdf']","new_qef":"@body('Get_Related_Opportunity')?['dcecal_prodqef']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('dcecal_jointaccounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_dcecal_jointaccountid_value']))}","authentication":"@parameters('$authentication')"}},"Send_an_email_2":{"runAfter":{"JA_Register_JSON_Request":["Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"testjit@cal.lk;sanjaya@cal.lk;","Subject":"Failed JSON For @{body('Get_Related_Opportunity')['name']}","Body":"{\n  \"customer\": {\n    \"metaData\": {\n      \"applications\": \"UTMS\",\n      \"accountType\": \"J\",\n      \"customerCode\": \"@{variables('CRMID')}\"\n    },\n    \"dataGeneral\": {\n      \"customerType\": \"INTERNAL\",\n      \"surname\": \"@{body('Get_Primary_Holder')?['lastname']}\",\n      \"residential\": \"LOCAL\",\n      \"primaryPhone\": \"@{body('Get_Primary_Holder')['telephone1']}\",\n      \"secondaryPhone\": \"\",\n      \"mobileNo\": \"@{body('Get_Primary_Holder')?['mobilephone']}\",\n      \"secondaryMobileNo\": \"\",\n      \"secondaryEmail\": \"@{body('Get_Primary_Holder')?['emailaddress2']}\",\n      \"primaryEmail\": \"@{body('Get_Primary_Holder')['emailaddress1']}\",\n      \"fax\": \"@{body('Get_Primary_Holder')?['fax']}\",\n      \"preferredContactMethod\": \"@{body('Get_Joint_Account')['_new_1confirmationsandstatements_label']}\",\n      \"correspondenceAddress\": {\n        \"address1\": \"@{body('Get_Primary_Holder')['address2_line1']}\",\n        \"address2\": \"@{body('Get_Primary_Holder')['address2_line2']}\",\n        \"address3\": \"@{body('Get_Primary_Holder')?['address2_line3']}\",\n        \"province\": \"@{body('Get_Primary_Holder')?['address2_stateorprovince']}\",\n        \"city\": \"@{body('Get_Primary_Holder')?['address2_city']}\",\n        \"country\": \"@{body('Get_Primary_Holder')?['address2_country']}\",\n        \"postalCode\": \"@{body('Get_Primary_Holder')?['address2_postalcode']}\"\n      },\n      \"address\": {\n        \"address1\": \"@{body('Get_Primary_Holder')?['address1_line1']}\",\n        \"address2\": \"@{body('Get_Primary_Holder')?['address1_line2']}\",\n        \"address3\": \"@{body('Get_Primary_Holder')?['address1_line3']}\",\n        \"city\": \"@{body('Get_Primary_Holder')?['address1_city']}\",\n        \"country\": \"@{body('Get_Primary_Holder')?['address1_country']}\",\n        \"postalCode\": \"@{body('Get_Primary_Holder')?['address1_postalcode']}\"\n      },\n      \"bank\": @{variables('BankAccountArray')},\n      \"contact\": [\n        {\n          \"name\": \"\",\n          \"email\": \"\",\n          \"designation\": \"\",\n          \"phone\": \"\",\n          \"fax\": \"\"\n        }\n      ],\n      \"UTMS_product_list\": @{variables('ProductArray')},\n      \"fundManager\": {\n        \"id\": \"@{variables('FMId')}\",\n        \"code\": \"@{variables('FMCode')}\",\n        \"name\": \"@{variables('FMName')}\",\n        \"email\": \"@{variables('FMEmail')}\",\n        \"designation\": \"@{variables('FMDesignation')}\",\n        \"phone\": \"@{variables('FMPhone')}\",\n        \"fax\": \"@{variables('FMFax')}\",\n        \"address\": \"@{variables('FMAddress')}\",\n        \"contact_name\": \"@{variables('FMContactName')}\",\n        \"contact_phone\": \"@{variables('FMContactPhone')}\",\n        \"contact_email\": \"@{variables('FMContactEmail')}\"\n      }\n    },\n    \"dataOrganizational\": {\n      \"registeredNo\": \"\",\n      \"businessLine\": \"\"\n    },\n    \"dataIndividual\": {\n      \"title\": \"@{body('Get_Primary_Holder')['_new_1titledropdown_label']}\",\n      \"initials\": \"@{body('Get_Primary_Holder')['new_initials']}\",\n      \"denotedByInitials\": \"@{body('Get_Primary_Holder')['new_namesdenotedbyinitials']}\",\n      \"nic\": \"@{body('Get_Primary_Holder')['new_nicnumber']}\",\n      \"ppNo\": \"@{body('Get_Primary_Holder')?['new_passportnumber']}\",\n      \"joinApplicants\": [\n        {\n          \"title\": \"@{body('Get_Secondary_Holder')['_new_1titledropdown_label']}\",\n          \"initials\": \"@{body('Get_Secondary_Holder')['new_initials']}\",\n          \"surname\": \"@{body('Get_Secondary_Holder')['lastname']}\",\n          \"name\": \"@{body('Get_Secondary_Holder')['new_namesdenotedbyinitials']}\",\n          \"email\": \"@{body('Get_Secondary_Holder')?['emailaddress1']}\",\n          \"nic\": \"@{body('Get_Secondary_Holder')['new_nicnumber']}\",\n          \"ppNo\": \"@{body('Get_Secondary_Holder')?['new_passportnumber']}\"\n        }\n      ]\n    }\n  }\n}"},"path":"/Mail","authentication":"@parameters('$authentication')"}},"Terminate_2":{"runAfter":{"Send_an_email_2":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"DCECAL_ERR0001","message":"Failed record with JSON Mail Sent"}}},"Opp_Update_UTMS_JA_Update":{"runAfter":{"Update_UTMS_JA_JSON_Request":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"_customerid_type":"","dcecal_senttodownstream":true,"dcecal_isthisanupdate":true,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('opportunities'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['opportunityid']))}","authentication":"@parameters('$authentication')"}},"UTMS_U_JA":{"runAfter":{"Opp_Update_UTMS_JA_Update":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"new_bf":"@body('Get_Related_Opportunity')?['dcecal_prodbf']","new_cahyf":"@body('Get_Related_Opportunity')?['dcecal_prodcahyf']","new_cgdtf":"@body('Get_Related_Opportunity')?['dcecal_prodcdgtf']","new_ctf":"@body('Get_Related_Opportunity')?['dcecal_prodctf']","new_gf":"@body('Get_Related_Opportunity')?['dcecal_prodgf']","new_gmmf":"@body('Get_Related_Opportunity')?['dcecal_prodgmmf']","new_gtf":"@body('Get_Related_Opportunity')?['dcecal_prodgtf']","new_if":"@body('Get_Related_Opportunity')?['dcecal_prodif']","new_igf":"@body('Get_Related_Opportunity')?['dcecal_prdoigf']","new_mrdf":"@body('Get_Related_Opportunity')?['dcecal_prodmrdf']","new_qef":"@body('Get_Related_Opportunity')?['dcecal_prodqef']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('dcecal_jointaccounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_dcecal_jointaccountid_value']))}","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@body('Get_Related_Opportunity')?['new_debugmode']","yeah"]},"type":"If"},"Check_UJ_CBA":{"actions":{"Get_UJ_CBA":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_commonbankaccounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Joint_Account')?['_new_commonbankaccount_value']))}","authentication":"@parameters('$authentication')"}},"Compose_UJ_CBA":{"runAfter":{"Get_UJ_CBA":["Succeeded"]},"type":"Compose","inputs":{"name":"@{body('Get_UJ_CBA')?['new_banknametext']}","branch":"@{body('Get_UJ_CBA')?['new_branchnametext']}","accountType":"@{body('Get_UJ_CBA')?['new_accounttype']}","accountNo":"@{body('Get_UJ_CBA')?['new_bacnumber']}"}},"Append_to_array_variable_4":{"runAfter":{"Compose_UJ_CBA":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"BankAccountArray","value":"@outputs('Compose_UJ_CBA')"}}},"runAfter":{"Apply_to_each_4":["Succeeded"]},"expression":{"equals":["@body('Get_Joint_Account')?['new_commonbankavailable']",true]},"type":"If"}},"runAfter":{},"expression":{"equals":["@body('Get_Related_Opportunity')['dcecal_opportunitybase']",256300001]},"type":"If"}}},"expression":{"equals":["@body('Get_Related_Opportunity')['dcecal_opportunitybase']",256300002]},"type":"If"}}},"expression":{"equals":["@body('Get_Related_Opportunity')['dcecal_opportunitybase']",256300000]},"type":"If"}},"runAfter":{"If_FM_Included":["Succeeded"]},"else":{"actions":{"If_FIS_Products":{"actions":{"REPO":{"actions":{"Compose_REPO":{"runAfter":{},"type":"Compose","inputs":{"product_code":"REPO","product_description":"CALT-Repo"}},"Append_REPO":{"runAfter":{"Compose_REPO":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_REPO')"}}},"runAfter":{},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodrepo']",true]},"type":"If"},"RREPO":{"actions":{"Compose_RREPO":{"runAfter":{},"type":"Compose","inputs":{"product_code":"RREPO","product_description":"CALT-Rev. Repo"}},"Append_RREPO":{"runAfter":{"Compose_RREPO":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_RREPO')"}}},"runAfter":{"REPO":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodrrepo']",true]},"type":"If"},"TBILL":{"actions":{"Compose_TBILL":{"runAfter":{},"type":"Compose","inputs":{"product_code":"TBILL","product_description":"CALT-Bills"}},"Append_TBILL":{"runAfter":{"Compose_TBILL":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_TBILL')"}}},"runAfter":{"RREPO":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodtbill']",true]},"type":"If"},"TBOND":{"actions":{"Compose_TBOND":{"runAfter":{},"type":"Compose","inputs":{"product_code":"TBOND","product_description":"CALT-Bonds"}},"Append_TBOND":{"runAfter":{"Compose_TBOND":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ProductArray","value":"@outputs('Compose_TBOND')"}}},"runAfter":{"TBILL":["Succeeded"]},"expression":{"equals":["@body('Get_Related_Opportunity')?['dcecal_prodtbond']",true]},"type":"If"},"If_FIS_Corporate":{"actions":{"Get_FIS_Corporate":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_parentaccountid_value']))}","authentication":"@parameters('$authentication')"}},"List_FIS_Corp_Bank_Accounts":{"runAfter":{"Check_Running_Number_FC_CRMID":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_bankaccounts'))}/items","queries":{"$filter":"dcecal_holderguid eq '@{body('Get_FIS_Corporate')['new_registrationnumberaccounts']}'"},"authentication":"@parameters('$authentication')"}},"List_FIS_Corp_Cont_Ppl":{"runAfter":{"Check_FC_CBA":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('dcecal_contactpeopleofcorporateaccountses'))}/items","queries":{"$filter":"dcecal_accountnumbercorporateaccount eq '@{body('Get_FIS_Corporate')?['accountnumber']}' or dcecal_accountnumbercorporateaccount eq '@{body('Get_FIS_Corporate')?['new_registrationnumberaccounts']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_5":{"foreach":"@body('List_FIS_Corp_Bank_Accounts')?['value']","actions":{"Compose_FIS_Corp_Bank_Accounts":{"runAfter":{"Get_FIS-Corp_Bank_Branch":["Succeeded"]},"type":"Compose","inputs":{"name":"@{items('Apply_to_each_5')?['dcecal_banknametext']}","branch":"@{items('Apply_to_each_5')?['dcecal_branchnametext']}","accountType":"@{items('Apply_to_each_5')?['dcecal_accounttype']}","accountNo":"@{items('Apply_to_each_5')?['new_bankaccountnumber']}","branchID":"@{body('Get_FIS-Corp_Bank_Branch')?['new_bankbranchcode']}","bankId":"@{body('Get_FIS-Corp_Bank')?['new_bankcode']}"}},"Append_FIS_Corp_Bank_Accounts":{"runAfter":{"Compose_FIS_Corp_Bank_Accounts":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"BankAccountArray","value":"@outputs('Compose_FIS_Corp_Bank_Accounts')"}},"Get_FIS-Corp_Bank":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_banks'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_5')?['_dcecal_bankofaccountid_value']))}","authentication":"@parameters('$authentication')"}},"Get_FIS-Corp_Bank_Branch":{"runAfter":{"Get_FIS-Corp_Bank":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_bankbranchs'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_5')?['_new_bankaccountsoftheselectedbranchid_value']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"List_FIS_Corp_Bank_Accounts":["Succeeded"]},"type":"Foreach"},"Apply_to_each_8":{"foreach":"@body('List_FIS_Corp_Cont_Ppl')?['value']","actions":{"Compose_FIS_Corp_Contact_Ppl":{"runAfter":{},"type":"Compose","inputs":{"name":"@{items('Apply_to_each_8')?['dcecal_contactname']}","email":"@{items('Apply_to_each_8')?['dcecal_contactsemail']}","designation":"@{items('Apply_to_each_8')?['dcecal_contactsdesignation']}","phone":" @{items('Apply_to_each_8')?['new_contactsphone']}","fax":" @{items('Apply_to_each_8')?['new_contactsfax']}"}},"Append_FIS_Corp_Cont_Ppl_Array":{"runAfter":{"Compose_FIS_Corp_Contact_Ppl":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"ContactPeopleArray","value":"@outputs('Compose_FIS_Corp_Contact_Ppl')"}}},"runAfter":{"List_FIS_Corp_Cont_Ppl":["Succeeded"]},"type":"Foreach"},"Check_Running_Number_FC_CRMID":{"actions":{"Append_to_FC_G_CRMID":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CRMID","value":"C-@{body('Get_FIS_Corporate')?['accountid']}@{variables('FMSuffix')}"}}},"runAfter":{"Get_FIS_Corporate":["Succeeded"]},"else":{"actions":{"Append_to_FC_R_CRMID":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CRMID","value":"@{body('Get_FIS_Corporate')?['accountnumber']}@{variables('FMSuffix')}"}}}},"expression":{"equals":["@body('Get_FIS_Corporate')?['accountnumber']","@null"]},"type":"If"},"Check_Debugging_FC":{"actions":{"Send_an_email_10":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"testjit@cal.lk;","Subject":"Debugging Mode: FIS @{variables('CRMID')} for @{body('Get_Related_Opportunity')?['name']}","Body":"{\n  \"customer\": {\n    \"metaData\": {\n      \"applications\": \"FIS\",\n      \"accountType\": \"C\",\n      \"customerCode\": \"@{variables('CRMID')}\"\n    },\n    \"dataGeneral\": {\n      \"customerType\": \"C\",\n      \"surname\": \"@{body('Get_FIS_Corporate')['name']}\",\n      \"taxFileNo\": \"\",\n      \"residential\": \"LOCAL\",\n      \"primaryPhone\": \"@{body('Get_Related_Opportunity')?['dcecal_corrtelephone']}\",\n      \"secondaryPhone\": \"\",\n      \"mobileNo\": \"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}\",\n      \"secondaryMobileNo\": \"\",\n      \"secondaryEmail\": \"@{body('Get_Related_Opportunity')?['new_secondaryemails']}\",\n      \"primaryEmail\": \"@{body('Get_Related_Opportunity')?['dcecal_corremail']}\",\n      \"fax\": \"@{body('Get_FIS_Corporate')?['fax']}\",\n      \"preferredContactMethod\": \"@{body('Get_FIS_Corporate')['_new_1confirmationsandstatements_label']}\",\n      \"fundManager\": {\n        \"id\": \"@{variables('FMId')}\",\n        \"code\": \"@{variables('FMCode')}\",\n        \"name\": \"@{variables('FMName')}\",\n        \"email\": \"@{variables('FMEmail')}\",\n        \"designation\": \"@{variables('FMDesignation')}\",\n        \"phone\": \"@{variables('FMPhone')}\",\n        \"fax\": \"@{variables('FMFax')}\",\n        \"address\": \"@{variables('FMAddress')}\",\n        \"contact_name\": \"@{variables('FMContactName')}\",\n        \"contact_phone\": \"@{variables('FMContactPhone')}\",\n        \"contact_email\": \"@{variables('FMContactEmail')}\"\n      },\n      \"correspondenceAddress\": {\n        \"address1\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressline1']}\",\n        \"address2\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressline2']}\",\n        \"address3\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressline3']}\",\n        \"city\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddresscity']}\",\n        \"country\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddresscountry']}\",\n        \"postalCode\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddresszip']}\"\n      },\n      \"address\": {\n        \"address1\": \"@{body('Get_FIS_Corporate')['address1_line1']}\",\n        \"address2\": \"@{body('Get_FIS_Corporate')['address1_line2']}\",\n        \"address3\": \"@{body('Get_FIS_Corporate')?['address1_line3']}\",\n        \"city\": \"@{body('Get_FIS_Corporate')?['address1_city']}\",\n        \"country\": \"@{body('Get_FIS_Corporate')?['address1_country']}\",\n        \"postalCode\": \"@{body('Get_FIS_Corporate')?['address1_postalcode']}\"\n      },\n      \"bank\": @{variables('BankAccountArray')},\n      \"contact\": @{variables('ContactPeopleArray')},\n      \"FIS_product_list\": @{variables('ProductArray')}\n    },\n    \"dataOrganizational\": {\n      \"registeredNo\": \"@{body('Get_FIS_Corporate')['new_registrationnumberaccounts']}\",\n      \"organizationName\": \"@{body('Get_FIS_Corporate')['name']}\"\n    },\n    \"dataIndividual\": {\n      \"title\": \"\",\n      \"initials\": \"\",\n      \"denotedByInitials\": \"\",\n      \"designation\": \"\",\n      \"nicPpNo\": \"\",\n      \"DOB\": \"\",\n      \"nationality\": \"\",\n      \"joinApplicants\": [\n        {\n          \"title\": \"\",\n          \"initials\": \"\",\n          \"denotedByInitials\": \"\",\n          \"surname\": \"\",\n          \"email\": \"\",\n          \"nicPpNo\": \"\"\n        },\n        {\n          \"title\": \"\",\n          \"initials\": \"\",\n          \"denotedByInitials\": \"\",\n          \"surname\": \"\",\n          \"email\": \"\",\n          \"nicPpNo\": \"\"\n        }\n      ]\n    }\n  }\n}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each_8":["Succeeded"]},"else":{"actions":{"Update_FIS_Corp._JSON_Request":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"http://13.250.176.125:8080/cal-repo-api/repo/external/update","body":{"customer":{"metaData":{"applications":"FIS","accountType":"C","customerCode":"@{variables('CRMID')}"},"dataGeneral":{"customerType":"C","surname":"@{body('Get_FIS_Corporate')['name']}","taxFileNo":"","residential":"LOCAL","primaryPhone":"@{body('Get_Related_Opportunity')?['dcecal_corrtelephone']}","secondaryPhone":"","mobileNo":"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}","secondaryMobileNo":"","secondaryEmail":"@{body('Get_Related_Opportunity')?['new_secondaryemails']}","primaryEmail":"@{body('Get_Related_Opportunity')?['dcecal_corremail']}","fax":"@{body('Get_FIS_Corporate')?['fax']}","preferredContactMethod":"@{body('Get_FIS_Corporate')['_new_1confirmationsandstatements_label']}","fundManager":{"id":"@{variables('FMId')}","code":"@{variables('FMCode')}","name":"@{variables('FMName')}","email":"@{variables('FMEmail')}","designation":"@{variables('FMDesignation')}","phone":"@{variables('FMPhone')}","fax":"@{variables('FMFax')}","address":"@{variables('FMAddress')}","contact_name":"@{variables('FMContactName')}","contact_phone":"@{variables('FMContactPhone')}","contact_email":"@{variables('FMContactEmail')}"},"correspondenceAddress":{"address1":"@{body('Get_Related_Opportunity')?['new_correspondingaddressline1']}","address2":"@{body('Get_Related_Opportunity')?['new_correspondingaddressline2']}","address3":"@{body('Get_Related_Opportunity')?['new_correspondingaddressline3']}","city":"@{body('Get_Related_Opportunity')?['new_correspondingaddresscity']}","country":"@{body('Get_Related_Opportunity')?['new_correspondingaddresscountry']}","postalCode":"@{body('Get_Related_Opportunity')?['new_correspondingaddresszip']}"},"address":{"address1":"@{body('Get_FIS_Corporate')['address1_line1']}","address2":"@{body('Get_FIS_Corporate')['address1_line2']}","address3":"@{body('Get_FIS_Corporate')?['address1_line3']}","city":"@{body('Get_FIS_Corporate')?['address1_city']}","country":"@{body('Get_FIS_Corporate')?['address1_country']}","postalCode":"@{body('Get_FIS_Corporate')?['address1_postalcode']}"},"bank":"@variables('BankAccountArray')","contact":"@variables('ContactPeopleArray')","FIS_product_list":"@variables('ProductArray')"},"dataOrganizational":{"registeredNo":"@{body('Get_FIS_Corporate')['new_registrationnumberaccounts']}","organizationName":"@{body('Get_FIS_Corporate')['name']}"},"dataIndividual":{"title":"","initials":"","denotedByInitials":"","designation":"","nicPpNo":"","DOB":"","nationality":"","joinApplicants":[{"title":"","initials":"","denotedByInitials":"","surname":"","email":"","nicPpNo":""},{"title":"","initials":"","denotedByInitials":"","surname":"","email":"","nicPpNo":""}]}}},"authentication":{"type":"Basic","username":"mitra","password":"m1tr4@c4l"}}},"FIS_Corp_Reg_JSON":{"runAfter":{"Update_FIS_Corp._JSON_Request":["Failed"]},"type":"Http","inputs":{"method":"POST","uri":"http://13.250.176.125:8080/cal-repo-api/repo/external/register","body":{"customer":{"metaData":{"applications":"FIS","accountType":"C","customerCode":"@{variables('CRMID')}"},"dataGeneral":{"customerType":"C","surname":"@{body('Get_FIS_Corporate')['name']}","taxFileNo":"","residential":"LOCAL","primaryPhone":"@{body('Get_Related_Opportunity')?['dcecal_corrtelephone']}","secondaryPhone":"","mobileNo":"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}","secondaryMobileNo":"","secondaryEmail":"@{body('Get_Related_Opportunity')?['new_secondaryemails']}","primaryEmail":"@{body('Get_Related_Opportunity')?['dcecal_corremail']}","fax":"@{body('Get_FIS_Corporate')?['fax']}","preferredContactMethod":"@{body('Get_FIS_Corporate')['_new_1confirmationsandstatements_label']}","fundManager":{"id":"@{variables('FMId')}","code":"@{variables('FMCode')}","name":"@{variables('FMName')}","email":"@{variables('FMEmail')}","designation":"@{variables('FMDesignation')}","phone":"@{variables('FMPhone')}","fax":"@{variables('FMFax')}","address":"@{variables('FMAddress')}","contact_name":"@{variables('FMContactName')}","contact_phone":"@{variables('FMContactPhone')}","contact_email":"@{variables('FMContactEmail')}"},"correspondenceAddress":{"address1":"@{body('Get_Related_Opportunity')?['new_correspondingaddressline1']}","address2":"@{body('Get_Related_Opportunity')?['new_correspondingaddressline2']}","address3":"@{body('Get_Related_Opportunity')?['new_correspondingaddressline3']}","city":"@{body('Get_Related_Opportunity')?['new_correspondingaddresscity']}","country":"@{body('Get_Related_Opportunity')?['new_correspondingaddresscountry']}","postalCode":"@{body('Get_Related_Opportunity')?['new_correspondingaddresszip']}"},"address":{"address1":"@{body('Get_FIS_Corporate')['address1_line1']}","address2":"@{body('Get_FIS_Corporate')['address1_line2']}","address3":"@{body('Get_FIS_Corporate')?['address1_line3']}","city":"@{body('Get_FIS_Corporate')?['address1_city']}","country":"@{body('Get_FIS_Corporate')?['address1_country']}","postalCode":"@{body('Get_FIS_Corporate')?['address1_postalcode']}"},"bank":"@variables('BankAccountArray')","contact":"@variables('ContactPeopleArray')","FIS_product_list":"@variables('ProductArray')"},"dataOrganizational":{"registeredNo":"@{body('Get_FIS_Corporate')['new_registrationnumberaccounts']}","organizationName":"@{body('Get_FIS_Corporate')['name']}"},"dataIndividual":{"title":"","initials":"","denotedByInitials":"","designation":"","nicPpNo":"","DOB":"","nationality":"","joinApplicants":[{"title":"","initials":"","denotedByInitials":"","surname":"","email":"","nicPpNo":""},{"title":"","initials":"","denotedByInitials":"","surname":"","email":"","nicPpNo":""}]}}},"authentication":{"type":"Basic","username":"mitra","password":"m1tr4@c4l"}}},"FIS_Corp_Update_Opp":{"runAfter":{"FIS_Corp_Reg_JSON":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"_customerid_type":"","dcecal_senttodownstream":true,"dcecal_isthisanupdate":true,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('opportunities'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['opportunityid']))}","authentication":"@parameters('$authentication')"}},"FIS_R_Corp":{"runAfter":{"FIS_Corp_Update_Opp":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"new_repo":"@body('Get_Related_Opportunity')?['dcecal_prodrepo']","new_rrepo":"@body('Get_Related_Opportunity')?['dcecal_prodrrepo']","new_tbill":"@body('Get_Related_Opportunity')?['dcecal_prodtbill']","new_tbond":"@body('Get_Related_Opportunity')?['dcecal_prodtbond']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_parentaccountid_value']))}","authentication":"@parameters('$authentication')"}},"Send_an_email":{"runAfter":{"FIS_Corp_Reg_JSON":["Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"testjit@cal.lk;sanjaya@cal.lk;","Subject":"Failed JSON for @{body('Get_Related_Opportunity')['name']}","Body":"{\n  \"customer\": {\n    \"metaData\": {\n      \"applications\": \"FIS\",\n      \"accountType\": \"C\",\n      \"customerCode\": \"@{variables('CRMID')}\"\n    },\n    \"dataGeneral\": {\n      \"customerType\": \"C\",\n      \"surname\": \"@{body('Get_FIS_Corporate')['name']}\",\n      \"taxFileNo\": \"\",\n      \"residential\": \"LOCAL\",\n      \"primaryPhone\": \"@{body('Get_Related_Opportunity')?['dcecal_corrtelephone']}\",\n      \"secondaryPhone\": \"\",\n      \"mobileNo\": \"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}\",\n      \"secondaryMobileNo\": \"\",\n      \"secondaryEmail\": \"@{body('Get_Related_Opportunity')?['new_secondaryemails']}\",\n      \"primaryEmail\": \"@{body('Get_Related_Opportunity')?['dcecal_corremail']}\",\n      \"fax\": \"@{body('Get_FIS_Corporate')?['fax']}\",\n      \"preferredContactMethod\": \"@{body('Get_FIS_Corporate')['_new_1confirmationsandstatements_label']}\",\n      \"fundManager\": {\n        \"id\": \"@{variables('FMId')}\",\n        \"code\": \"@{variables('FMCode')}\",\n        \"name\": \"@{variables('FMName')}\",\n        \"email\": \"@{variables('FMEmail')}\",\n        \"designation\": \"@{variables('FMDesignation')}\",\n        \"phone\": \"@{variables('FMPhone')}\",\n        \"fax\": \"@{variables('FMFax')}\",\n        \"address\": \"@{variables('FMAddress')}\",\n        \"contact_name\": \"@{variables('FMContactName')}\",\n        \"contact_phone\": \"@{variables('FMContactPhone')}\",\n        \"contact_email\": \"@{variables('FMContactEmail')}\"\n      },\n      \"correspondenceAddress\": {\n        \"address1\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressline1']}\",\n        \"address2\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressline2']}\",\n        \"address3\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressline3']}\",\n        \"city\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddresscity']}\",\n        \"country\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddresscountry']}\",\n        \"postalCode\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddresszip']}\"\n      },\n      \"address\": {\n        \"address1\": \"@{body('Get_FIS_Corporate')['address1_line1']}\",\n        \"address2\": \"@{body('Get_FIS_Corporate')['address1_line2']}\",\n        \"address3\": \"@{body('Get_FIS_Corporate')?['address1_line3']}\",\n        \"city\": \"@{body('Get_FIS_Corporate')?['address1_city']}\",\n        \"country\": \"@{body('Get_FIS_Corporate')?['address1_country']}\",\n        \"postalCode\": \"@{body('Get_FIS_Corporate')?['address1_postalcode']}\"\n      },\n      \"bank\": @{variables('BankAccountArray')},\n      \"contact\": @{variables('ContactPeopleArray')},\n      \"FIS_product_list\": @{variables('ProductArray')}\n    },\n    \"dataOrganizational\": {\n      \"registeredNo\": \"@{body('Get_FIS_Corporate')['new_registrationnumberaccounts']}\",\n      \"organizationName\": \"@{body('Get_FIS_Corporate')['name']}\"\n    },\n    \"dataIndividual\": {\n      \"title\": \"\",\n      \"initials\": \"\",\n      \"denotedByInitials\": \"\",\n      \"designation\": \"\",\n      \"nicPpNo\": \"\",\n      \"DOB\": \"\",\n      \"nationality\": \"\",\n      \"joinApplicants\": [\n        {\n          \"title\": \"\",\n          \"initials\": \"\",\n          \"denotedByInitials\": \"\",\n          \"surname\": \"\",\n          \"email\": \"\",\n          \"nicPpNo\": \"\"\n        },\n        {\n          \"title\": \"\",\n          \"initials\": \"\",\n          \"denotedByInitials\": \"\",\n          \"surname\": \"\",\n          \"email\": \"\",\n          \"nicPpNo\": \"\"\n        }\n      ]\n    }\n  }\n}"},"path":"/Mail","authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Send_an_email":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"DCECAL_ERR0001","message":"Failed Record and Mail Sent"}}},"FIS_U_Corp":{"runAfter":{"FIS_Corp_Mark_Synced_and_Ready_for_Updates":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"new_repo":"@body('Get_Related_Opportunity')?['dcecal_prodrepo']","new_rrepo":"@body('Get_Related_Opportunity')?['dcecal_prodrrepo']","new_tbill":"@body('Get_Related_Opportunity')?['dcecal_prodtbill']","new_tbond":"@body('Get_Related_Opportunity')?['dcecal_prodtbond']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_parentaccountid_value']))}","authentication":"@parameters('$authentication')"}},"FIS_Corp_Mark_Synced_and_Ready_for_Updates":{"runAfter":{"Update_FIS_Corp._JSON_Request":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"_customerid_type":"","dcecal_senttodownstream":true,"dcecal_isthisanupdate":true,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('opportunities'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['opportunityid']))}","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@body('Get_Related_Opportunity')?['new_debugmode']","yeah"]},"type":"If"},"Check_FC_CBA":{"actions":{"Get_FC_CBA":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_commonbankaccounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_FIS_Corporate')?['_new_commonbankaccount_value']))}","authentication":"@parameters('$authentication')"}},"Compose_FC_FBA":{"runAfter":{"Get_FC_CBA":["Succeeded"]},"type":"Compose","inputs":{"name":"@{body('Get_FC_CBA')?['new_banknametext']}","branch":"@{body('Get_FC_CBA')?['new_branchnametext']}","accountType":"@{body('Get_FC_CBA')?['new_accounttype']}","accountNo":"@{body('Get_FC_CBA')?['new_bacnumber']}","branchID":"@{body('Get_FC_CBA')?['new_branchcode']}","bankId":"@{body('Get_FC_CBA')?['new_bankcode']}"}},"Append_to_array_variable_5":{"runAfter":{"Compose_FC_FBA":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"BankAccountArray","value":"@outputs('Compose_FC_FBA')"}}},"runAfter":{"Apply_to_each_5":["Succeeded"]},"expression":{"equals":["@body('Get_FIS_Corporate')?['new_commonbankavailable']",true]},"type":"If"}},"runAfter":{"TBOND":["Succeeded"]},"else":{"actions":{"If_FIS_Individual":{"actions":{"Get_FIS_individual":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_parentcontactid_value']))}","authentication":"@parameters('$authentication')"}},"List_FIS_Individual_Bank_Records":{"runAfter":{"Check_Birthday_exists":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_bankaccounts'))}/items","queries":{"$filter":"dcecal_holderguid eq '@{body('Get_FIS_individual')['new_nicnumber']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_6":{"foreach":"@body('List_FIS_Individual_Bank_Records')?['value']","actions":{"Compose_FIS_Individual_Bank_Accounts":{"runAfter":{"Get_FIS_Branch_I":["Succeeded"]},"type":"Compose","inputs":{"name":"@{items('Apply_to_each_6')?['dcecal_banknametext']}","branch":"@{items('Apply_to_each_6')?['dcecal_branchnametext']}","branchID":"@{body('Get_FIS_Branch_I')?['new_bankbranchcode']}","accountType":"@{items('Apply_to_each_6')?['dcecal_accounttype']}","accountNo":"@{items('Apply_to_each_6')?['new_bankaccountnumber']}","bankId":"@{body('Get_FIS_Bank_I')?['new_bankcode']}"}},"Append_to_array_variable":{"runAfter":{"Compose_FIS_Individual_Bank_Accounts":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"BankAccountArray","value":"@outputs('Compose_FIS_Individual_Bank_Accounts')"}},"Get_FIS_Bank_I":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_banks'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_6')?['_dcecal_bankofaccountid_value']))}","authentication":"@parameters('$authentication')"}},"Get_FIS_Branch_I":{"runAfter":{"Get_FIS_Bank_I":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_bankbranchs'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_6')?['_new_bankaccountsoftheselectedbranchid_value']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"List_FIS_Individual_Bank_Records":["Succeeded"]},"type":"Foreach"},"Check_Birthday_exists":{"actions":{"Set_FI_DOB_Default":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Birthday","value":"1900-01-01 00:00:00"}}},"runAfter":{"Check_Running_Number_FI":["Succeeded"]},"else":{"actions":{"Set_FI_Birthday":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Birthday","value":"@{formatDateTime(body('Get_FIS_individual')?['birthdate'],'yyyy-MM-dd hh:mm:ss')}"}}}},"expression":{"equals":["@body('Get_FIS_individual')?['birthdate']","@null"]},"type":"If"},"Check_Running_Number_FI":{"actions":{"Append_to_FI_G_CRMID":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CRMID","value":"I-@{body('Get_FIS_individual')?['contactid']}@{variables('FMSuffix')}"}}},"runAfter":{"Get_FIS_individual":["Succeeded"]},"else":{"actions":{"Append_to_FI_R_CRMID":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CRMID","value":"@{body('Get_FIS_individual')?['new_runningnumber']}@{variables('FMSuffix')}"}}}},"expression":{"equals":["@body('Get_FIS_individual')?['new_runningnumber']","@null"]},"type":"If"},"Check_Debugging_FI":{"actions":{"Send_an_email_11":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"testjit@cal.lk;","Subject":"Debugging Mode: FIS @{variables('CRMID')} for @{body('Get_Related_Opportunity')?['name']}","Body":"{\n  \"customer\": {\n    \"metaData\": {\n      \"applications\": \"FIS\",\n      \"accountType\": \"I\",\n      \"customerCode\": \"@{variables('CRMID')}\"\n    },\n    \"dataGeneral\": {\n      \"customerType\": \"I\",\n      \"surname\": \"@{body('Get_FIS_individual')['lastname']}\",\n      \"taxFileNo\": \"\",\n      \"residential\": \"LOCAL\",\n      \"primaryPhone\": \"@{body('Get_Related_Opportunity')?['dcecal_corrtelephone']}\",\n      \"secondaryPhone\": \"\",\n      \"mobileNo\": \"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}\",\n      \"secondaryMobileNo\": \"\",\n      \"secondaryEmail\": \"@{body('Get_Related_Opportunity')?['new_secondaryemails']}\",\n      \"primaryEmail\": \"@{body('Get_Related_Opportunity')?['dcecal_corremail']}\",\n      \"fax\": \"\",\n      \"preferredContactMethod\": \"@{body('Get_FIS_Individual')['_new_1confirmationsandstatements_label']}\",\n      \"fundManager\": {\n        \"id\": \"@{variables('FMId')}\",\n        \"code\": \"@{variables('FMCode')}\",\n        \"name\": \"@{variables('FMName')}\",\n        \"email\": \"@{variables('FMEmail')}\",\n        \"designation\": \"@{variables('FMDesignation')}\",\n        \"phone\": \"@{variables('FMPhone')}\",\n        \"fax\": \"@{variables('FMFax')}\",\n        \"address\": \"@{variables('FMAddress')}\",\n        \"contact_name\": \"@{variables('FMContactName')}\",\n        \"contact_phone\": \"@{variables('FMContactPhone')}\",\n        \"contact_email\": \"@{variables('FMContactEmail')}\"\n      },\n      \"correspondenceAddress\": {\n        \"address1\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressline1']}\",\n        \"address2\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressline2']}\",\n        \"address3\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressline3']}\",\n        \"city\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddresscity']}\",\n        \"country\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddresscountry']}\",\n        \"postalCode\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddresszip']}\",\n        \"state\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressstateprovince']}\"\n      },\n      \"address\": {\n        \"address1\": \"@{body('Get_FIS_individual')?['address1_line1']}\",\n        \"address2\": \"@{body('Get_FIS_individual')?['address1_line2']}\",\n        \"address3\": \"@{body('Get_FIS_individual')?['address1_line3']}\",\n        \"city\": \"@{body('Get_FIS_individual')?['address1_city']}\",\n        \"country\": \"@{body('Get_FIS_individual')?['address1_country']}\",\n        \"postalCode\": \"@{body('Get_FIS_individual')?['address1_postalcode']}\"\n      },\n      \"bank\": @{variables('BankAccountArray')},\n      \"contact\": [\n        {\n          \"name\": \"@{body('Get_FIS_individual')?['fullname']}\",\n          \"email\": \"@{body('Get_FIS_individual')['emailaddress1']}\",\n          \"designation\": \"@{body('Get_FIS_individual')?['jobtitle']}\",\n          \"phone\": \"@{body('Get_FIS_individual')['telephone1']}\",\n          \"fax\": \"@{body('Get_FIS_individual')?['fax']}\"\n        }\n      ],\n      \"FIS_product_list\": @{variables('ProductArray')}\n    },\n    \"dataOrganizational\": {\n      \"registeredNo\": \"\",\n      \"organizationName\": \"\"\n    },\n    \"dataIndividual\": {\n      \"title\": \"@{body('Get_FIS_Individual')['_new_1titledropdown_label']}\",\n      \"initials\": \"@{body('Get_FIS_individual')['new_initials']}\",\n      \"denotedByInitials\": \"@{body('Get_FIS_individual')['new_namesdenotedbyinitials']}\",\n      \"designation\": \"@{body('Get_FIS_individual')?['jobtitle']}\",\n      \"nicPpNo\": \"@{body('Get_FIS_individual')['new_nicnumber']}\",\n      \"DOB\": \"@{variables('Birthday')}\",\n      \"nationality\": \"@{body('Get_FIS_individual')?['new_nationality']}\",\n      \"joinApplicants\": [\n        {\n          \"title\": \"\",\n          \"initials\": \"\",\n          \"denotedByInitials\": \"\",\n          \"surname\": \"\",\n          \"email\": \"\",\n          \"nicPpNo\": \"\"\n        },\n        {\n          \"title\": \"\",\n          \"initials\": \"\",\n          \"denotedByInitials\": \"\",\n          \"surname\": \"\",\n          \"email\": \"\",\n          \"nicPpNo\": \"\"\n        }\n      ]\n    }\n  }\n}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Check_FI_CBA":["Succeeded"]},"else":{"actions":{"Update_FIS_-_Ind._JSON_Request":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"http://13.250.176.125:8080/cal-repo-api/repo/external/update","body":{"customer":{"metaData":{"applications":"FIS","accountType":"I","customerCode":"@{variables('CRMID')}"},"dataGeneral":{"customerType":"I","surname":"@{body('Get_FIS_individual')['lastname']}","taxFileNo":"","residential":"LOCAL","primaryPhone":"@{body('Get_Related_Opportunity')?['dcecal_corrtelephone']}","secondaryPhone":"","mobileNo":"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}","secondaryMobileNo":"","secondaryEmail":"@{body('Get_Related_Opportunity')?['new_secondaryemails']}","primaryEmail":"@{body('Get_Related_Opportunity')?['dcecal_corremail']}","fax":"","preferredContactMethod":"@{body('Get_FIS_Individual')['_new_1confirmationsandstatements_label']}","fundManager":{"id":"@{variables('FMId')}","code":"@{variables('FMCode')}","name":"@{variables('FMName')}","email":"@{variables('FMEmail')}","designation":"@{variables('FMDesignation')}","phone":"@{variables('FMPhone')}","fax":"@{variables('FMFax')}","address":"@{variables('FMAddress')}","contact_name":"@{variables('FMContactName')}","contact_phone":"@{variables('FMContactPhone')}","contact_email":"@{variables('FMContactEmail')}"},"correspondenceAddress":{"address1":"@{body('Get_Related_Opportunity')?['new_correspondingaddressline1']}","address2":"@{body('Get_Related_Opportunity')?['new_correspondingaddressline2']}","address3":"@{body('Get_Related_Opportunity')?['new_correspondingaddressline3']}","city":"@{body('Get_Related_Opportunity')?['new_correspondingaddresscity']}","country":"@{body('Get_Related_Opportunity')?['new_correspondingaddresscountry']}","postalCode":"@{body('Get_Related_Opportunity')?['new_correspondingaddresszip']}","state":"@{body('Get_Related_Opportunity')?['new_correspondingaddressstateprovince']}"},"address":{"address1":"@{body('Get_FIS_individual')?['address1_line1']}","address2":"@{body('Get_FIS_individual')?['address1_line2']}","address3":"@{body('Get_FIS_individual')?['address1_line3']}","city":"@{body('Get_FIS_individual')?['address1_city']}","country":"@{body('Get_FIS_individual')?['address1_country']}","postalCode":"@{body('Get_FIS_individual')?['address1_postalcode']}"},"bank":"@variables('BankAccountArray')","contact":[{"name":"@{body('Get_FIS_individual')?['fullname']}","email":"@{body('Get_FIS_individual')['emailaddress1']}","designation":"@{body('Get_FIS_individual')?['jobtitle']}","phone":"@{body('Get_FIS_individual')['telephone1']}","fax":"@{body('Get_FIS_individual')?['fax']}"}],"FIS_product_list":"@variables('ProductArray')"},"dataOrganizational":{"registeredNo":"","organizationName":""},"dataIndividual":{"title":"@{body('Get_FIS_Individual')['_new_1titledropdown_label']}","initials":"@{body('Get_FIS_individual')['new_initials']}","denotedByInitials":"@{body('Get_FIS_individual')['new_namesdenotedbyinitials']}","designation":"@{body('Get_FIS_individual')?['jobtitle']}","nicPpNo":"@{body('Get_FIS_individual')['new_nicnumber']}","DOB":"@{variables('Birthday')}","nationality":"@{body('Get_FIS_individual')?['new_nationality']}","joinApplicants":[{"title":"","initials":"","denotedByInitials":"","surname":"","email":"","nicPpNo":""},{"title":"","initials":"","denotedByInitials":"","surname":"","email":"","nicPpNo":""}]}}},"authentication":{"type":"Basic","username":"mitra","password":"m1tr4@c4l"}}},"FIS_Individual_Reg_JSON_":{"runAfter":{"Update_FIS_-_Ind._JSON_Request":["Failed"]},"type":"Http","inputs":{"method":"POST","uri":"http://13.250.176.125:8080/cal-repo-api/repo/external/register","body":{"customer":{"metaData":{"applications":"FIS","accountType":"I","customerCode":"@{variables('CRMID')}"},"dataGeneral":{"customerType":"I","surname":"@{body('Get_FIS_individual')['lastname']}","taxFileNo":"","residential":"LOCAL","primaryPhone":"@{body('Get_Related_Opportunity')?['dcecal_corrtelephone']}","secondaryPhone":"","mobileNo":"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}","secondaryMobileNo":"","secondaryEmail":"@{body('Get_Related_Opportunity')?['new_secondaryemails']}","primaryEmail":"@{body('Get_Related_Opportunity')?['dcecal_corremail']}","fax":"","preferredContactMethod":"@{body('Get_FIS_Individual')['_new_1confirmationsandstatements_label']}","fundManager":{"id":"@{variables('FMId')}","code":"@{variables('FMCode')}","name":"@{variables('FMName')}","email":"@{variables('FMEmail')}","designation":"@{variables('FMDesignation')}","phone":"@{variables('FMPhone')}","fax":"@{variables('FMFax')}","address":"@{variables('FMAddress')}","contact_name":"@{variables('FMContactName')}","contact_phone":"@{variables('FMContactPhone')}","contact_email":"@{variables('FMContactEmail')}"},"correspondenceAddress":{"address1":"@{body('Get_Related_Opportunity')?['new_correspondingaddressline1']}","address2":"@{body('Get_Related_Opportunity')?['new_correspondingaddressline2']}","address3":"@{body('Get_Related_Opportunity')?['new_correspondingaddressline3']}","city":"@{body('Get_Related_Opportunity')?['new_correspondingaddresscity']}","country":"@{body('Get_Related_Opportunity')?['new_correspondingaddresscountry']}","postalCode":"@{body('Get_Related_Opportunity')?['new_correspondingaddresszip']}","state":"@{body('Get_Related_Opportunity')?['new_correspondingaddressstateprovince']}"},"address":{"address1":"@{body('Get_FIS_individual')?['address1_line1']}","address2":"@{body('Get_FIS_individual')?['address1_line2']}","address3":"@{body('Get_FIS_individual')?['address1_line3']}","city":"@{body('Get_FIS_individual')?['address1_city']}","country":"@{body('Get_FIS_individual')?['address1_country']}","postalCode":"@{body('Get_FIS_individual')?['address1_postalcode']}"},"bank":"@variables('BankAccountArray')","contact":[{"name":"@{body('Get_FIS_individual')?['fullname']}","email":"@{body('Get_FIS_individual')['emailaddress1']}","designation":"@{body('Get_FIS_individual')?['jobtitle']}","phone":"@{body('Get_FIS_individual')['telephone1']}","fax":"@{body('Get_FIS_individual')?['fax']}"}],"FIS_product_list":"@variables('ProductArray')"},"dataOrganizational":{"registeredNo":"","organizationName":""},"dataIndividual":{"title":"@{body('Get_FIS_Individual')['_new_1titledropdown_label']}","initials":"@{body('Get_FIS_individual')['new_initials']}","denotedByInitials":"@{body('Get_FIS_individual')['new_namesdenotedbyinitials']}","designation":"@{body('Get_FIS_individual')?['jobtitle']}","nicPpNo":"@{body('Get_FIS_individual')['new_nicnumber']}","DOB":"@{variables('Birthday')}","nationality":"@{body('Get_FIS_individual')?['new_nationality']}","joinApplicants":[{"title":"","initials":"","denotedByInitials":"","surname":"","email":"","nicPpNo":""},{"title":"","initials":"","denotedByInitials":"","surname":"","email":"","nicPpNo":""}]}}},"authentication":{"type":"Basic","username":"mitra","password":"m1tr4@c4l"}}},"FIS_Ind_Mark_synced_and_for_updates":{"runAfter":{"FIS_Individual_Reg_JSON_":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"_customerid_type":"","dcecal_senttodownstream":true,"dcecal_isthisanupdate":true,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('opportunities'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['opportunityid']))}","authentication":"@parameters('$authentication')"}},"FIS_R_Ind":{"runAfter":{"FIS_Ind_Mark_synced_and_for_updates":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"new_repo":"@body('Get_Related_Opportunity')?['dcecal_prodrepo']","new_rrepo":"@body('Get_Related_Opportunity')?['dcecal_prodrrepo']","new_tbill":"@body('Get_Related_Opportunity')?['dcecal_prodtbill']","new_tbond":"@body('Get_Related_Opportunity')?['dcecal_prodtbond']","_parentcustomerid_type":"","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_parentcontactid_value']))}","authentication":"@parameters('$authentication')"}},"FIS_I_U_Opp":{"runAfter":{"Update_FIS_-_Ind._JSON_Request":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"_customerid_type":"","dcecal_senttodownstream":true,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('opportunities'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['opportunityid']))}","authentication":"@parameters('$authentication')"}},"FIS_I_U_Cont":{"runAfter":{"FIS_I_U_Opp":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"new_repo":"@body('Get_Related_Opportunity')?['dcecal_prodrepo']","new_rrepo":"@body('Get_Related_Opportunity')?['dcecal_prodrrepo']","new_tbill":"@body('Get_Related_Opportunity')?['dcecal_prodtbill']","new_tbond":"@body('Get_Related_Opportunity')?['dcecal_prodtbond']","_parentcustomerid_type":"","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_parentcontactid_value']))}","authentication":"@parameters('$authentication')"}},"Send_an_email_6":{"runAfter":{"FIS_Individual_Reg_JSON_":["Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"sanjaya@cal.lk;testjit@cal.lk;","Subject":"Failed JSON for Opp: @{body('Get_Related_Opportunity')['name']}","Body":"{\n  \"customer\": {\n    \"metaData\": {\n      \"applications\": \"FIS\",\n      \"accountType\": \"I\",\n      \"customerCode\": \"@{variables('CRMID')}\"\n    },\n    \"dataGeneral\": {\n      \"customerType\": \"I\",\n      \"surname\": \"@{body('Get_FIS_individual')['lastname']}\",\n      \"taxFileNo\": \"\",\n      \"residential\": \"LOCAL\",\n      \"primaryPhone\": \"@{body('Get_Related_Opportunity')?['dcecal_corrtelephone']}\",\n      \"secondaryPhone\": \"\",\n      \"mobileNo\": \"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}\",\n      \"secondaryMobileNo\": \"\",\n      \"secondaryEmail\": \"@{body('Get_Related_Opportunity')?['new_secondaryemails']}\",\n      \"primaryEmail\": \"@{body('Get_Related_Opportunity')?['dcecal_corremail']}\",\n      \"fax\": \"\",\n      \"preferredContactMethod\": \"@{body('Get_FIS_Individual')['_new_1confirmationsandstatements_label']}\",\n      \"fundManager\": {\n        \"id\": \"@{variables('FMId')}\",\n        \"code\": \"@{variables('FMCode')}\",\n        \"name\": \"@{variables('FMName')}\",\n        \"email\": \"@{variables('FMEmail')}\",\n        \"designation\": \"@{variables('FMDesignation')}\",\n        \"phone\": \"@{variables('FMPhone')}\",\n        \"fax\": \"@{variables('FMFax')}\",\n        \"address\": \"@{variables('FMAddress')}\",\n        \"contact_name\": \"@{variables('FMContactName')}\",\n        \"contact_phone\": \"@{variables('FMContactPhone')}\",\n        \"contact_email\": \"@{variables('FMContactEmail')}\"\n      },\n      \"correspondenceAddress\": {\n        \"address1\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressline1']}\",\n        \"address2\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressline2']}\",\n        \"address3\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressline3']}\",\n        \"city\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddresscity']}\",\n        \"country\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddresscountry']}\",\n        \"postalCode\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddresszip']}\",\n        \"state\": \"@{body('Get_Related_Opportunity')?['new_correspondingaddressstateprovince']}\"\n      },\n      \"address\": {\n        \"address1\": \"@{body('Get_FIS_individual')?['address1_line1']}\",\n        \"address2\": \"@{body('Get_FIS_individual')?['address1_line2']}\",\n        \"address3\": \"@{body('Get_FIS_individual')?['address1_line3']}\",\n        \"city\": \"@{body('Get_FIS_individual')?['address1_city']}\",\n        \"country\": \"@{body('Get_FIS_individual')?['address1_country']}\",\n        \"postalCode\": \"@{body('Get_FIS_individual')?['address1_postalcode']}\"\n      },\n      \"bank\": @{variables('BankAccountArray')},\n      \"contact\": [\n        {\n          \"name\": \"@{body('Get_FIS_individual')?['fullname']}\",\n          \"email\": \"@{body('Get_FIS_individual')['emailaddress1']}\",\n          \"designation\": \"@{body('Get_FIS_individual')?['jobtitle']}\",\n          \"phone\": \"@{body('Get_FIS_individual')['telephone1']}\",\n          \"fax\": \"@{body('Get_FIS_individual')?['fax']}\"\n        }\n      ],\n      \"FIS_product_list\": @{variables('ProductArray')}\n    },\n    \"dataOrganizational\": {\n      \"registeredNo\": \"\",\n      \"organizationName\": \"\"\n    },\n    \"dataIndividual\": {\n      \"title\": \"@{body('Get_FIS_Individual')['_new_1titledropdown_label']}\",\n      \"initials\": \"@{body('Get_FIS_individual')['new_initials']}\",\n      \"denotedByInitials\": \"@{body('Get_FIS_individual')['new_namesdenotedbyinitials']}\",\n      \"designation\": \"@{body('Get_FIS_individual')?['jobtitle']}\",\n      \"nicPpNo\": \"@{body('Get_FIS_individual')['new_nicnumber']}\",\n      \"DOB\": \"@{variables('Birthday')}\",\n      \"nationality\": \"@{body('Get_FIS_individual')?['new_nationality']}\",\n      \"joinApplicants\": [\n        {\n          \"title\": \"\",\n          \"initials\": \"\",\n          \"denotedByInitials\": \"\",\n          \"surname\": \"\",\n          \"email\": \"\",\n          \"nicPpNo\": \"\"\n        },\n        {\n          \"title\": \"\",\n          \"initials\": \"\",\n          \"denotedByInitials\": \"\",\n          \"surname\": \"\",\n          \"email\": \"\",\n          \"nicPpNo\": \"\"\n        }\n      ]\n    }\n  }\n}"},"path":"/Mail","authentication":"@parameters('$authentication')"}},"Terminate_6":{"runAfter":{"Send_an_email_6":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"DCECAL_ERR0001","message":"Sync failed with JSON Sent"}}}}},"expression":{"equals":["@body('Get_Related_Opportunity')?['new_debugmode']","yeah"]},"type":"If"},"Check_FI_CBA":{"actions":{"Get_FI_CBA":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_commonbankaccounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_FIS_individual')?['_new_commonbankaccount_value']))}","authentication":"@parameters('$authentication')"}},"Compose_FI_CBA":{"runAfter":{"Get_FI_CBA":["Succeeded"]},"type":"Compose","inputs":{"name":"@{body('Get_FI_CBA')?['new_banknametext']}","branch":"@{body('Get_FI_CBA')?['new_branchnametext']}","accountType":"@{body('Get_FI_CBA')?['new_accounttype']}","accountNo":"@{body('Get_FI_CBA')?['new_bacnumber']}","branchID":"@{body('Get_FI_CBA')?['new_branchcode']}","bankId":"@{body('Get_FI_CBA')?['new_bankcode']}"}},"Append_to_array_variable_6":{"runAfter":{"Compose_FI_CBA":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"BankAccountArray","value":"@outputs('Compose_FI_CBA')"}}},"runAfter":{"Apply_to_each_6":["Succeeded"]},"expression":{"equals":["@body('Get_FIS_individual')?['new_commonbankavailable']",true]},"type":"If"}},"runAfter":{},"else":{"actions":{"If_FIS_Joint_Account":{"actions":{"Get_FIS_JA":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('dcecal_jointaccounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_dcecal_jointaccountid_value']))}","authentication":"@parameters('$authentication')"}},"Get_FIS_Primary_Holder":{"runAfter":{"Check_Running_Number_FJA":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_FIS_JA')?['_dcecal_primaryholder_value']))}","authentication":"@parameters('$authentication')"}},"Get_FIS_Secondary_Holder":{"runAfter":{"Check_Null_PDOB":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('contacts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_FIS_JA')?['_dcecal_secondaryholder_value']))}","authentication":"@parameters('$authentication')"}},"List_FIS_JA_Bank_Records":{"runAfter":{"Get_FIS_Secondary_Holder":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_bankaccounts'))}/items","queries":{"$filter":"dcecal_holderguid eq '@{body('Get_FIS_Primary_Holder')['new_nicnumber']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_7":{"foreach":"@body('List_FIS_JA_Bank_Records')?['value']","actions":{"Compose_JA_FIS_Bank_Accounts":{"runAfter":{"Get_FIS-JA_Bank_Branch":["Succeeded"]},"type":"Compose","inputs":{"name":"@{items('Apply_to_each_7')?['dcecal_banknametext']}","branch":"@{items('Apply_to_each_7')?['dcecal_branchnametext']}","accountType":"@{items('Apply_to_each_7')?['dcecal_accounttype']}","accountNo":"@{items('Apply_to_each_7')?['new_bankaccountnumber']}","branchID":"@{body('Get_FIS-JA_Bank_Branch')?['new_bankbranchcode']}","bankId":"@{body('Get_FIS-JA_Bank')?['new_bankcode']}"}},"Append_JA_FIS_Bank_Accounts":{"runAfter":{"Compose_JA_FIS_Bank_Accounts":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"BankAccountArray","value":"@outputs('Compose_JA_FIS_Bank_Accounts')"}},"Get_FIS-JA_Bank":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_banks'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_7')?['_dcecal_bankofaccountid_value']))}","authentication":"@parameters('$authentication')"}},"Get_FIS-JA_Bank_Branch":{"runAfter":{"Get_FIS-JA_Bank":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_bankbranchs'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_7')?['_new_bankaccountsoftheselectedbranchid_value']))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"List_FIS_JA_Bank_Records":["Succeeded"]},"type":"Foreach"},"Check_Running_Number_FJA":{"actions":{"Append_to_FJA_G_CRMID":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CRMID","value":"JA-@{body('Get_FIS_JA')?['dcecal_jointaccountid']}@{variables('FMSuffix')}"}}},"runAfter":{"Get_FIS_JA":["Succeeded"]},"else":{"actions":{"Append_to_FJA_R_CRMID":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"CRMID","value":"@{body('Get_FIS_JA')?['dcecal_runningnumberjointaccount']}@{variables('FMSuffix')}"}}}},"expression":{"equals":["@body('Get_FIS_JA')?['dcecal_runningnumberjointaccount']","@null"]},"type":"If"},"Check_Debugging_FJ":{"actions":{"Send_an_email_12":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"testjit@cal.lk;","Subject":"Debugging Mode: FIS @{variables('CRMID')} for @{body('Get_Related_Opportunity')?['name']}","Body":"{\n  \"customer\": {\n    \"metaData\": {\n      \"applications\": \"FIS\",\n      \"accountType\": \"J\",\n      \"customerCode\": \"@{variables('CRMID')}\"\n    },\n    \"dataGeneral\": {\n      \"customerType\": \"J\",\n      \"surname\": \"@{body('Get_FIS_JA')['dcecal_lastname']}\",\n      \"residential\": \"LOCAL\",\n      \"primaryPhone\": \"@{body('Get_Related_Opportunity')?['dcecal_corrtelephone']}\",\n      \"secondaryPhone\": \"\",\n      \"mobileNo\": \"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}\",\n      \"secondaryMobileNo\": \"\",\n      \"secondaryEmail\": \"@{body('Get_Related_Opportunity')?['new_secondaryemails']}\",\n      \"primaryEmail\": \"@{body('Get_Related_Opportunity')?['dcecal_corremail']}\",\n      \"fax\": \"\",\n      \"preferredContactMethod\": \"@{body('Get_FIS_JA')['_new_1confirmationsandstatements_label']}\",\n      \"fundManager\": {\n        \"id\": \"@{variables('FMId')}\",\n        \"code\": \"@{variables('FMCode')}\",\n        \"name\": \"@{variables('FMName')}\",\n        \"email\": \"@{variables('FMEmail')}\",\n        \"designation\": \"@{variables('FMDesignation')}\",\n        \"phone\": \"@{variables('FMPhone')}\",\n        \"fax\": \"@{variables('FMFax')}\",\n        \"address\": \"@{variables('FMAddress')}\",\n        \"contact_name\": \"@{variables('FMContactName')}\",\n        \"contact_phone\": \"@{variables('FMContactPhone')}\",\n        \"contact_email\": \"@{variables('FMContactEmail')}\"\n      },\n      \"correspondenceAddress\": {\n        \"address1\": \"@{body('Get_FIS_Primary_Holder')['address2_line1']}\",\n        \"address2\": \"@{body('Get_FIS_Primary_Holder')['address2_line2']}\",\n        \"address3\": \"@{body('Get_FIS_Primary_Holder')?['address2_line3']}\",\n        \"city\": \"@{body('Get_FIS_Primary_Holder')?['address2_city']}\",\n        \"country\": \"@{body('Get_FIS_Primary_Holder')?['address2_country']}\",\n        \"postalCode\": \"@{body('Get_FIS_Primary_Holder')?['address2_postalcode']}\",\n        \"state\": \"@{body('Get_FIS_Primary_Holder')?['address2_stateorprovince']}\"\n      },\n      \"address\": {\n        \"address1\": \"@{body('Get_FIS_Primary_Holder')?['address1_line1']}\",\n        \"address2\": \"@{body('Get_FIS_Primary_Holder')?['address1_line2']}\",\n        \"address3\": \"@{body('Get_FIS_Primary_Holder')?['address1_line3']}\",\n        \"city\": \"@{body('Get_FIS_Primary_Holder')?['address1_city']}\",\n        \"country\": \"@{body('Get_FIS_Primary_Holder')?['address1_country']}\",\n        \"postalCode\": \"@{body('Get_FIS_Primary_Holder')?['address1_postalcode']}\"\n      },\n      \"bank\": @{variables('BankAccountArray')},\n      \"contact\": [\n        {\n          \"name\": \"@{body('Get_FIS_Primary_Holder')?['fullname']}\",\n          \"email\": \"@{body('Get_FIS_Primary_Holder')['emailaddress1']}\",\n          \"designation\": \"@{body('Get_FIS_Primary_Holder')?['jobtitle']}\",\n          \"phone\": \"@{body('Get_FIS_Primary_Holder')['telephone1']}\",\n          \"fax\": \"@{body('Get_FIS_Primary_Holder')?['fax']}\"\n        }\n      ],\n      \"taxFileNo\": \"\",\n      \"FIS_product_list\": @{variables('ProductArray')}\n    },\n    \"dataOrganizational\": {\n      \"registeredNo\": \"\",\n      \"organizationName\": \"\"\n    },\n    \"dataIndividual\": {\n      \"title\": \"@{body('Get_FIS_Primary_Holder')['_new_1titledropdown_label']}\",\n      \"initials\": \"@{body('Get_FIS_Primary_Holder')['new_initials']}\",\n      \"denotedByInitials\": \"@{body('Get_FIS_Primary_Holder')['new_namesdenotedbyinitials']}\",\n      \"joinApplicants\": [\n        {\n          \"title\": \"@{body('Get_FIS_Secondary_Holder')['_new_1titledropdown_label']}\",\n          \"initials\": \"@{body('Get_FIS_Secondary_Holder')['new_initials']}\",\n          \"denotedByInitials\": \"@{body('Get_FIS_Secondary_Holder')['new_namesdenotedbyinitials']}\",\n          \"surname\": \"@{body('Get_FIS_Secondary_Holder')['lastname']}\",\n          \"email\": \"@{body('Get_FIS_Secondary_Holder')['emailaddress1']}\",\n          \"nicPpNo\": \"@{body('Get_FIS_Secondary_Holder')['new_nicnumber']}\"\n        }\n      ],\n      \"DOB\": \"\",\n      \"designation\": \"@{body('Get_FIS_Primary_Holder')?['jobtitle']}\",\n      \"nicPpNo\": \"@{body('Get_FIS_Primary_Holder')['new_nicnumber']}\",\n      \"nationality\": \"@{body('Get_FIS_Primary_Holder')?['new_nationality']}\"\n    }\n  }\n}"},"path":"/Mail","authentication":"@parameters('$authentication')"}}},"runAfter":{"Check_FJ_CBA":["Succeeded"]},"else":{"actions":{"Update_FIS_JA_JSON_Request":{"runAfter":{},"type":"Http","inputs":{"method":"POST","uri":"http://13.250.176.125:8080/cal-repo-api/repo/external/update","body":{"customer":{"metaData":{"applications":"FIS","accountType":"J","customerCode":"@{variables('CRMID')}"},"dataGeneral":{"customerType":"J","surname":"@{body('Get_FIS_JA')['dcecal_lastname']}","residential":"LOCAL","primaryPhone":"@{body('Get_Related_Opportunity')?['dcecal_corrtelephone']}","secondaryPhone":"","mobileNo":"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}","secondaryMobileNo":"","secondaryEmail":"@{body('Get_Related_Opportunity')?['new_secondaryemails']}","primaryEmail":"@{body('Get_Related_Opportunity')?['dcecal_corremail']}","fax":"","preferredContactMethod":"@{body('Get_FIS_JA')['_new_1confirmationsandstatements_label']}","fundManager":{"id":"@{variables('FMId')}","code":"@{variables('FMCode')}","name":"@{variables('FMName')}","email":"@{variables('FMEmail')}","designation":"@{variables('FMDesignation')}","phone":"@{variables('FMPhone')}","fax":"@{variables('FMFax')}","address":"@{variables('FMAddress')}","contact_name":"@{variables('FMContactName')}","contact_phone":"@{variables('FMContactPhone')}","contact_email":"@{variables('FMContactEmail')}"},"correspondenceAddress":{"address1":"@{body('Get_FIS_Primary_Holder')['address2_line1']}","address2":"@{body('Get_FIS_Primary_Holder')['address2_line2']}","address3":"@{body('Get_FIS_Primary_Holder')?['address2_line3']}","city":"@{body('Get_FIS_Primary_Holder')?['address2_city']}","country":"@{body('Get_FIS_Primary_Holder')?['address2_country']}","postalCode":"@{body('Get_FIS_Primary_Holder')?['address2_postalcode']}","state":"@{body('Get_FIS_Primary_Holder')?['address2_stateorprovince']}"},"address":{"address1":"@{body('Get_FIS_Primary_Holder')?['address1_line1']}","address2":"@{body('Get_FIS_Primary_Holder')?['address1_line2']}","address3":"@{body('Get_FIS_Primary_Holder')?['address1_line3']}","city":"@{body('Get_FIS_Primary_Holder')?['address1_city']}","country":"@{body('Get_FIS_Primary_Holder')?['address1_country']}","postalCode":"@{body('Get_FIS_Primary_Holder')?['address1_postalcode']}"},"bank":"@variables('BankAccountArray')","contact":[{"name":"@{body('Get_FIS_Primary_Holder')?['fullname']}","email":"@{body('Get_FIS_Primary_Holder')['emailaddress1']}","designation":"@{body('Get_FIS_Primary_Holder')?['jobtitle']}","phone":"@{body('Get_FIS_Primary_Holder')['telephone1']}","fax":"@{body('Get_FIS_Primary_Holder')?['fax']}"}],"taxFileNo":"","FIS_product_list":"@variables('ProductArray')"},"dataOrganizational":{"registeredNo":"","organizationName":""},"dataIndividual":{"title":"@{body('Get_FIS_Primary_Holder')['_new_1titledropdown_label']}","initials":"@{body('Get_FIS_Primary_Holder')['new_initials']}","denotedByInitials":"@{body('Get_FIS_Primary_Holder')['new_namesdenotedbyinitials']}","joinApplicants":[{"title":"@{body('Get_FIS_Secondary_Holder')['_new_1titledropdown_label']}","initials":"@{body('Get_FIS_Secondary_Holder')['new_initials']}","denotedByInitials":"@{body('Get_FIS_Secondary_Holder')['new_namesdenotedbyinitials']}","surname":"@{body('Get_FIS_Secondary_Holder')['lastname']}","email":"@{body('Get_FIS_Secondary_Holder')['emailaddress1']}","nicPpNo":"@{body('Get_FIS_Secondary_Holder')['new_nicnumber']}"}],"DOB":"@{variables('Birthday')}","designation":"@{body('Get_FIS_Primary_Holder')?['jobtitle']}","nicPpNo":"@{body('Get_FIS_Primary_Holder')['new_nicnumber']}","nationality":"@{body('Get_FIS_Primary_Holder')?['new_nationality']}"}}},"authentication":{"type":"Basic","username":"mitra","password":"m1tr4@c4l"}}},"JSON_Request_for_FIS_JA":{"runAfter":{"Update_FIS_JA_JSON_Request":["Failed"]},"type":"Http","inputs":{"method":"POST","uri":"http://13.250.176.125:8080/cal-repo-api/repo/external/register","body":{"customer":{"metaData":{"applications":"FIS","accountType":"J","customerCode":"@{variables('CRMID')}"},"dataGeneral":{"customerType":"J","surname":"@{body('Get_FIS_JA')['dcecal_lastname']}","residential":"LOCAL","primaryPhone":"@{body('Get_Related_Opportunity')?['dcecal_corrtelephone']}","secondaryPhone":"","mobileNo":"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}","secondaryMobileNo":"","secondaryEmail":"@{body('Get_Related_Opportunity')?['new_secondaryemails']}","primaryEmail":"@{body('Get_Related_Opportunity')?['dcecal_corremail']}","fax":"","preferredContactMethod":"@{body('Get_FIS_JA')['_new_1confirmationsandstatements_label']}","fundManager":{"id":"@{variables('FMId')}","code":"@{variables('FMCode')}","name":"@{variables('FMName')}","email":"@{variables('FMEmail')}","designation":"@{variables('FMDesignation')}","phone":"@{variables('FMPhone')}","fax":"@{variables('FMFax')}","address":"@{variables('FMAddress')}","contact_name":"@{variables('FMContactName')}","contact_phone":"@{variables('FMContactPhone')}","contact_email":"@{variables('FMContactEmail')}"},"correspondenceAddress":{"address1":"@{body('Get_FIS_Primary_Holder')['address2_line1']}","address2":"@{body('Get_FIS_Primary_Holder')['address2_line2']}","address3":"@{body('Get_FIS_Primary_Holder')?['address2_line3']}","city":"@{body('Get_FIS_Primary_Holder')?['address2_city']}","country":"@{body('Get_FIS_Primary_Holder')?['address2_country']}","postalCode":"@{body('Get_FIS_Primary_Holder')?['address2_postalcode']}","state":"@{body('Get_FIS_Primary_Holder')?['address2_stateorprovince']}"},"address":{"address1":"@{body('Get_FIS_Primary_Holder')?['address1_line1']}","address2":"@{body('Get_FIS_Primary_Holder')?['address1_line2']}","address3":"@{body('Get_FIS_Primary_Holder')?['address1_line3']}","city":"@{body('Get_FIS_Primary_Holder')?['address1_city']}","country":"@{body('Get_FIS_Primary_Holder')?['address1_country']}","postalCode":"@{body('Get_FIS_Primary_Holder')?['address1_postalcode']}"},"bank":"@variables('BankAccountArray')","contact":[{"name":"@{body('Get_FIS_Primary_Holder')?['fullname']}","email":"@{body('Get_FIS_Primary_Holder')['emailaddress1']}","designation":"@{body('Get_FIS_Primary_Holder')?['jobtitle']}","phone":"@{body('Get_FIS_Primary_Holder')['telephone1']}","fax":"@{body('Get_FIS_Primary_Holder')?['fax']}"}],"taxFileNo":"","FIS_product_list":"@variables('ProductArray')"},"dataOrganizational":{"registeredNo":"","organizationName":""},"dataIndividual":{"title":"@{body('Get_FIS_Primary_Holder')['_new_1titledropdown_label']}","initials":"@{body('Get_FIS_Primary_Holder')['new_initials']}","denotedByInitials":"@{body('Get_FIS_Primary_Holder')['new_namesdenotedbyinitials']}","joinApplicants":[{"title":"@{body('Get_FIS_Secondary_Holder')['_new_1titledropdown_label']}","initials":"@{body('Get_FIS_Secondary_Holder')['new_initials']}","denotedByInitials":"@{body('Get_FIS_Secondary_Holder')['new_namesdenotedbyinitials']}","surname":"@{body('Get_FIS_Secondary_Holder')['lastname']}","email":"@{body('Get_FIS_Secondary_Holder')['emailaddress1']}","nicPpNo":"@{body('Get_FIS_Secondary_Holder')['new_nicnumber']}"}],"DOB":"@{variables('Birthday')}","designation":"@{body('Get_FIS_Primary_Holder')?['jobtitle']}","nicPpNo":"@{body('Get_FIS_Primary_Holder')['new_nicnumber']}","nationality":"@{body('Get_FIS_Primary_Holder')?['new_nationality']}"}}},"authentication":{"type":"Basic","username":"mitra","password":"m1tr4@c4l"}}},"Update_FIS-JA_as_Synced":{"runAfter":{"JSON_Request_for_FIS_JA":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"_customerid_type":"","dcecal_senttodownstream":true,"dcecal_isthisanupdate":true,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('opportunities'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['opportunityid']))}","authentication":"@parameters('$authentication')"}},"FIS_R_JA":{"runAfter":{"Update_FIS-JA_as_Synced":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"new_repo":"@body('Get_Related_Opportunity')?['dcecal_prodrepo']","new_rrepo":"@body('Get_Related_Opportunity')?['dcecal_prodrrepo']","new_tbill":"@body('Get_Related_Opportunity')?['dcecal_prodtbill']","new_tbond":"@body('Get_Related_Opportunity')?['dcecal_prodtbond']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('dcecal_jointaccounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_dcecal_jointaccountid_value']))}","authentication":"@parameters('$authentication')"}},"Send_an_email_3":{"runAfter":{"JSON_Request_for_FIS_JA":["Failed"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmail"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/office365"}},"method":"post","body":{"To":"testjit@cal.lk;sanjaya@cal.lk;","Subject":"Failed JSON for @{body('Get_Related_Opportunity')['name']}","Body":"{\n  \"customer\": {\n    \"metaData\": {\n      \"applications\": \"FIS\",\n      \"accountType\": \"J\",\n      \"customerCode\": \"@{variables('CRMID')}\"\n    },\n    \"dataGeneral\": {\n      \"customerType\": \"J\",\n      \"surname\": \"@{body('Get_FIS_JA')['dcecal_lastname']}\",\n      \"residential\": \"LOCAL\",\n      \"primaryPhone\": \"@{body('Get_Related_Opportunity')?['dcecal_corrtelephone']}\",\n      \"secondaryPhone\": \"\",\n      \"mobileNo\": \"@{body('Get_Related_Opportunity')?['dcecal_corrmobileno']}\",\n      \"secondaryMobileNo\": \"\",\n      \"secondaryEmail\": \"@{body('Get_Related_Opportunity')?['new_secondaryemails']}\",\n      \"primaryEmail\": \"@{body('Get_Related_Opportunity')?['dcecal_corremail']}\",\n      \"fax\": \"\",\n      \"preferredContactMethod\": \"@{body('Get_FIS_JA')['_new_1confirmationsandstatements_label']}\",\n      \"fundManager\": {\n        \"id\": \"@{variables('FMId')}\",\n        \"code\": \"@{variables('FMCode')}\",\n        \"name\": \"@{variables('FMName')}\",\n        \"email\": \"@{variables('FMEmail')}\",\n        \"designation\": \"@{variables('FMDesignation')}\",\n        \"phone\": \"@{variables('FMPhone')}\",\n        \"fax\": \"@{variables('FMFax')}\",\n        \"address\": \"@{variables('FMAddress')}\",\n        \"contact_name\": \"@{variables('FMContactName')}\",\n        \"contact_phone\": \"@{variables('FMContactPhone')}\",\n        \"contact_email\": \"@{variables('FMContactEmail')}\"\n      },\n      \"correspondenceAddress\": {\n        \"address1\": \"@{body('Get_FIS_Primary_Holder')['address2_line1']}\",\n        \"address2\": \"@{body('Get_FIS_Primary_Holder')['address2_line2']}\",\n        \"address3\": \"@{body('Get_FIS_Primary_Holder')?['address2_line3']}\",\n        \"city\": \"@{body('Get_FIS_Primary_Holder')?['address2_city']}\",\n        \"country\": \"@{body('Get_FIS_Primary_Holder')?['address2_country']}\",\n        \"postalCode\": \"@{body('Get_FIS_Primary_Holder')?['address2_postalcode']}\",\n        \"state\": \"@{body('Get_FIS_Primary_Holder')?['address2_stateorprovince']}\"\n      },\n      \"address\": {\n        \"address1\": \"@{body('Get_FIS_Primary_Holder')?['address1_line1']}\",\n        \"address2\": \"@{body('Get_FIS_Primary_Holder')?['address1_line2']}\",\n        \"address3\": \"@{body('Get_FIS_Primary_Holder')?['address1_line3']}\",\n        \"city\": \"@{body('Get_FIS_Primary_Holder')?['address1_city']}\",\n        \"country\": \"@{body('Get_FIS_Primary_Holder')?['address1_country']}\",\n        \"postalCode\": \"@{body('Get_FIS_Primary_Holder')?['address1_postalcode']}\"\n      },\n      \"bank\": @{variables('BankAccountArray')},\n      \"contact\": [\n        {\n          \"name\": \"@{body('Get_FIS_Primary_Holder')?['fullname']}\",\n          \"email\": \"@{body('Get_FIS_Primary_Holder')['emailaddress1']}\",\n          \"designation\": \"@{body('Get_FIS_Primary_Holder')?['jobtitle']}\",\n          \"phone\": \"@{body('Get_FIS_Primary_Holder')['telephone1']}\",\n          \"fax\": \"@{body('Get_FIS_Primary_Holder')?['fax']}\"\n        }\n      ],\n      \"taxFileNo\": \"\",\n      \"FIS_product_list\": @{variables('ProductArray')}\n    },\n    \"dataOrganizational\": {\n      \"registeredNo\": \"\",\n      \"organizationName\": \"\"\n    },\n    \"dataIndividual\": {\n      \"title\": \"@{body('Get_FIS_Primary_Holder')['_new_1titledropdown_label']}\",\n      \"initials\": \"@{body('Get_FIS_Primary_Holder')['new_initials']}\",\n      \"denotedByInitials\": \"@{body('Get_FIS_Primary_Holder')['new_namesdenotedbyinitials']}\",\n      \"joinApplicants\": [\n        {\n          \"title\": \"@{body('Get_FIS_Secondary_Holder')['_new_1titledropdown_label']}\",\n          \"initials\": \"@{body('Get_FIS_Secondary_Holder')['new_initials']}\",\n          \"denotedByInitials\": \"@{body('Get_FIS_Secondary_Holder')['new_namesdenotedbyinitials']}\",\n          \"surname\": \"@{body('Get_FIS_Secondary_Holder')['lastname']}\",\n          \"email\": \"@{body('Get_FIS_Secondary_Holder')['emailaddress1']}\",\n          \"nicPpNo\": \"@{body('Get_FIS_Secondary_Holder')['new_nicnumber']}\"\n        }\n      ],\n      \"DOB\": \"@{variables('Birthday')}\",\n      \"designation\": \"@{body('Get_FIS_Primary_Holder')?['jobtitle']}\",\n      \"nicPpNo\": \"@{body('Get_FIS_Primary_Holder')['new_nicnumber']}\",\n      \"nationality\": \"@{body('Get_FIS_Primary_Holder')?['new_nationality']}\"\n    }\n  }\n}"},"path":"/Mail","authentication":"@parameters('$authentication')"}},"Terminate_3":{"runAfter":{"Send_an_email_3":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Failed","runError":{"code":"DCECAL_ERR0001","message":"Failed record JSON Sent"}}},"FIS_JA_Update_Opp":{"runAfter":{"Update_FIS_JA_JSON_Request":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"_customerid_type":"","dcecal_senttodownstream":true,"dcecal_isthisanupdate":true,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('opportunities'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['opportunityid']))}","authentication":"@parameters('$authentication')"}},"FIS_U_JA":{"runAfter":{"FIS_JA_Update_Opp":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"patch","body":{"new_repo":"@body('Get_Related_Opportunity')?['dcecal_prodrepo']","new_rrepo":"@body('Get_Related_Opportunity')?['dcecal_prodrrepo']","new_tbill":"@body('Get_Related_Opportunity')?['dcecal_prodtbill']","new_tbond":"@body('Get_Related_Opportunity')?['dcecal_prodtbond']","_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('dcecal_jointaccounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Related_Opportunity')?['_dcecal_jointaccountid_value']))}","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@body('Get_Related_Opportunity')?['new_debugmode']","yeah"]},"type":"If"},"Check_FJ_CBA":{"actions":{"Get_FJ_CBA":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"},"api":{"runtimeUrl":"https://asia-001.azure-apim.net/apim/commondataservice"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org8cc0dcee.crm5'))}/tables/@{encodeURIComponent(encodeURIComponent('new_commonbankaccounts'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_FIS_JA')?['_new_commonbankaccount_value']))}","authentication":"@parameters('$authentication')"}},"Compose_FJ_CBA":{"runAfter":{"Get_FJ_CBA":["Succeeded"]},"type":"Compose","inputs":{"name":"@{body('Get_FJ_CBA')?['new_banknametext']}","branch":"@{body('Get_FJ_CBA')?['new_branchnametext']}","accountType":"@{body('Get_FJ_CBA')?['new_accounttype']}","accountNo":"@{body('Get_FJ_CBA')?['new_bacnumber']}","branchID":"@{body('Get_FJ_CBA')?['new_branchcode']}","bankId":"@{body('Get_FJ_CBA')?['new_bankcode']}"}},"Append_to_array_variable_7":{"runAfter":{"Compose_FJ_CBA":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"BankAccountArray","value":"@outputs('Compose_FJ_CBA')"}}},"runAfter":{"Apply_to_each_7":["Succeeded"]},"expression":{"equals":["@body('Get_FIS_JA')?['new_commonbankavailable']",true]},"type":"If"},"Check_Null_PDOB":{"actions":{"Set_DOB_Default":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Birthday","value":"1900-01-01 00:00:00"}}},"runAfter":{"Get_FIS_Primary_Holder":["Succeeded"]},"else":{"actions":{"Set_DOB_JP":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Birthday","value":"@{formatDateTime(body('Get_FIS_Primary_Holder')?['birthdate'],'yyyy-MM-dd hh:mm:ss')}"}}}},"expression":{"equals":["@body('Get_FIS_Primary_Holder')?['birthdate']","@null"]},"type":"If"}},"runAfter":{},"expression":{"equals":["@body('Get_Related_Opportunity')['dcecal_opportunitybase']",256300001]},"type":"If"}}},"expression":{"equals":["@body('Get_Related_Opportunity')['dcecal_opportunitybase']",256300002]},"type":"If"}}},"expression":{"equals":["@body('Get_Related_Opportunity')['dcecal_opportunitybase']",256300000]},"type":"If"}},"runAfter":{},"expression":{"equals":["@body('Get_Related_Opportunity')['dcecal_productbase']",256300001]},"type":"If"}}},"expression":{"equals":["@body('Get_Related_Opportunity')['dcecal_productbase']",256300000]},"type":"If"},"Init_Birthday":{"runAfter":{"Init_Contact_People_Array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Birthday","type":"String"}]}},"Init_CRM_ID":{"runAfter":{"Get_Related_Opportunity":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CRMID","type":"String"}]}}},"outputs":{}},"connectionReferences":{"shared_commondataservice":{"connectionName":"053d62420d4c40c79de7b20bb8da5b90","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataservice","tier":"NotSpecified"},"shared_office365":{"connectionName":"8fff7aa54fe04a319b5d0e39bac8cd55","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}